TradesMate/.vs/TradesMateDataService/v14/.suo
TradesMate/.vs/TradesMateDataService/v14/.suo
TradesMate/DataService.Tests/bin/Debug/ApplicationInsights.config
TradesMate/DataService.Tests/bin/Debug/DataService.dll
TradesMate/DataService.Tests/bin/Debug/DataService.pdb
TradesMate/DataService.Tests/bin/Debug/DataService.Tests.dll
TradesMate/DataService.Tests/bin/Debug/DataService.Tests.dll.config
TradesMate/DataService.Tests/bin/Debug/DataService.Tests.pdb
TradesMate/DataService.Tests/bin/Debug/de/Microsoft.OData.Core.resources.dll
TradesMate/DataService.Tests/bin/Debug/de/Microsoft.OData.Edm.resources.dll
TradesMate/DataService.Tests/bin/Debug/de/Microsoft.Spatial.resources.dll
TradesMate/DataService.Tests/bin/Debug/EF.Data.dll
TradesMate/DataService.Tests/bin/Debug/EF.Data.pdb
TradesMate/DataService.Tests/bin/Debug/EntityFramework.dll
TradesMate/DataService.Tests/bin/Debug/EntityFramework.xml
TradesMate/DataService.Tests/bin/Debug/es/Microsoft.OData.Core.resources.dll
TradesMate/DataService.Tests/bin/Debug/es/Microsoft.OData.Edm.resources.dll
TradesMate/DataService.Tests/bin/Debug/es/Microsoft.Spatial.resources.dll
TradesMate/DataService.Tests/bin/Debug/fr/Microsoft.OData.Core.resources.dll
TradesMate/DataService.Tests/bin/Debug/fr/Microsoft.OData.Edm.resources.dll
TradesMate/DataService.Tests/bin/Debug/fr/Microsoft.Spatial.resources.dll
TradesMate/DataService.Tests/bin/Debug/it/Microsoft.OData.Core.resources.dll
TradesMate/DataService.Tests/bin/Debug/it/Microsoft.OData.Edm.resources.dll
TradesMate/DataService.Tests/bin/Debug/it/Microsoft.Spatial.resources.dll
TradesMate/DataService.Tests/bin/Debug/ja/Microsoft.OData.Core.resources.dll
TradesMate/DataService.Tests/bin/Debug/ja/Microsoft.OData.Edm.resources.dll
TradesMate/DataService.Tests/bin/Debug/ja/Microsoft.Spatial.resources.dll
TradesMate/DataService.Tests/bin/Debug/ko/Microsoft.OData.Core.resources.dll
TradesMate/DataService.Tests/bin/Debug/ko/Microsoft.OData.Edm.resources.dll
TradesMate/DataService.Tests/bin/Debug/ko/Microsoft.Spatial.resources.dll
TradesMate/DataService.Tests/bin/Debug/Microsoft.AspNet.Identity.Core.dll
TradesMate/DataService.Tests/bin/Debug/Microsoft.AspNet.Identity.Core.xml
TradesMate/DataService.Tests/bin/Debug/Microsoft.AspNet.Identity.EntityFramework.dll
TradesMate/DataService.Tests/bin/Debug/Microsoft.AspNet.Identity.EntityFramework.xml
TradesMate/DataService.Tests/bin/Debug/Microsoft.AspNet.Identity.Owin.dll
TradesMate/DataService.Tests/bin/Debug/Microsoft.AspNet.Identity.Owin.xml
TradesMate/DataService.Tests/bin/Debug/Microsoft.OData.Core.dll
TradesMate/DataService.Tests/bin/Debug/Microsoft.OData.Core.xml
TradesMate/DataService.Tests/bin/Debug/Microsoft.OData.Edm.dll
TradesMate/DataService.Tests/bin/Debug/Microsoft.OData.Edm.xml
TradesMate/DataService.Tests/bin/Debug/Microsoft.Owin.dll
TradesMate/DataService.Tests/bin/Debug/Microsoft.Owin.Security.Cookies.dll
TradesMate/DataService.Tests/bin/Debug/Microsoft.Owin.Security.Cookies.xml
TradesMate/DataService.Tests/bin/Debug/Microsoft.Owin.Security.dll
TradesMate/DataService.Tests/bin/Debug/Microsoft.Owin.Security.OAuth.dll
TradesMate/DataService.Tests/bin/Debug/Microsoft.Owin.Security.OAuth.xml
TradesMate/DataService.Tests/bin/Debug/Microsoft.Owin.Security.xml
TradesMate/DataService.Tests/bin/Debug/Microsoft.Owin.xml
TradesMate/DataService.Tests/bin/Debug/Microsoft.Spatial.dll
TradesMate/DataService.Tests/bin/Debug/Microsoft.Spatial.xml
TradesMate/DataService.Tests/bin/Debug/Microsoft.VisualStudio.QualityTools.UnitTestFramework.dll
TradesMate/DataService.Tests/bin/Debug/Microsoft.VisualStudio.QualityTools.UnitTestFramework.xml
TradesMate/DataService.Tests/bin/Debug/Microsoft.Web.Infrastructure.dll
TradesMate/DataService.Tests/bin/Debug/Newtonsoft.Json.dll
TradesMate/DataService.Tests/bin/Debug/Newtonsoft.Json.xml
TradesMate/DataService.Tests/bin/Debug/Owin.dll
TradesMate/DataService.Tests/bin/Debug/roslyn/csc.exe
TradesMate/DataService.Tests/bin/Debug/roslyn/Microsoft.Build.Tasks.CodeAnalysis.dll
TradesMate/DataService.Tests/bin/Debug/roslyn/Microsoft.CodeAnalysis.CSharp.dll
TradesMate/DataService.Tests/bin/Debug/roslyn/Microsoft.CodeAnalysis.dll
TradesMate/DataService.Tests/bin/Debug/roslyn/Microsoft.CodeAnalysis.VisualBasic.dll
TradesMate/DataService.Tests/bin/Debug/roslyn/Microsoft.CSharp.Core.targets
TradesMate/DataService.Tests/bin/Debug/roslyn/Microsoft.VisualBasic.Core.targets
TradesMate/DataService.Tests/bin/Debug/roslyn/System.Collections.Immutable.dll
TradesMate/DataService.Tests/bin/Debug/roslyn/System.Reflection.Metadata.dll
TradesMate/DataService.Tests/bin/Debug/roslyn/vbc.exe
TradesMate/DataService.Tests/bin/Debug/roslyn/VBCSCompiler.exe
TradesMate/DataService.Tests/bin/Debug/roslyn/VBCSCompiler.exe.config
TradesMate/DataService.Tests/bin/Debug/ru/Microsoft.OData.Core.resources.dll
TradesMate/DataService.Tests/bin/Debug/ru/Microsoft.OData.Edm.resources.dll
TradesMate/DataService.Tests/bin/Debug/ru/Microsoft.Spatial.resources.dll
TradesMate/DataService.Tests/bin/Debug/System.Net.Http.Formatting.dll
TradesMate/DataService.Tests/bin/Debug/System.Net.Http.Formatting.xml
TradesMate/DataService.Tests/bin/Debug/System.Web.Helpers.dll
TradesMate/DataService.Tests/bin/Debug/System.Web.Helpers.xml
TradesMate/DataService.Tests/bin/Debug/System.Web.Http.dll
TradesMate/DataService.Tests/bin/Debug/System.Web.Http.Owin.dll
TradesMate/DataService.Tests/bin/Debug/System.Web.Http.Owin.xml
TradesMate/DataService.Tests/bin/Debug/System.Web.Http.WebHost.dll
TradesMate/DataService.Tests/bin/Debug/System.Web.Http.WebHost.xml
TradesMate/DataService.Tests/bin/Debug/System.Web.Http.xml
TradesMate/DataService.Tests/bin/Debug/System.Web.Mvc.dll
TradesMate/DataService.Tests/bin/Debug/System.Web.Mvc.xml
TradesMate/DataService.Tests/bin/Debug/System.Web.OData.dll
TradesMate/DataService.Tests/bin/Debug/System.Web.OData.xml
TradesMate/DataService.Tests/bin/Debug/System.Web.Optimization.dll
TradesMate/DataService.Tests/bin/Debug/System.Web.Optimization.xml
TradesMate/DataService.Tests/bin/Debug/System.Web.Razor.dll
TradesMate/DataService.Tests/bin/Debug/System.Web.Razor.xml
TradesMate/DataService.Tests/bin/Debug/System.Web.WebPages.Deployment.dll
TradesMate/DataService.Tests/bin/Debug/System.Web.WebPages.Deployment.xml
TradesMate/DataService.Tests/bin/Debug/System.Web.WebPages.dll
TradesMate/DataService.Tests/bin/Debug/System.Web.WebPages.Razor.dll
TradesMate/DataService.Tests/bin/Debug/System.Web.WebPages.Razor.xml
TradesMate/DataService.Tests/bin/Debug/System.Web.WebPages.xml
TradesMate/DataService.Tests/bin/Debug/zh-Hans/Microsoft.OData.Core.resources.dll
TradesMate/DataService.Tests/bin/Debug/zh-Hans/Microsoft.OData.Edm.resources.dll
TradesMate/DataService.Tests/bin/Debug/zh-Hans/Microsoft.Spatial.resources.dll
TradesMate/DataService.Tests/bin/Debug/zh-Hant/Microsoft.OData.Core.resources.dll
TradesMate/DataService.Tests/bin/Debug/zh-Hant/Microsoft.OData.Edm.resources.dll
TradesMate/DataService.Tests/bin/Debug/zh-Hant/Microsoft.Spatial.resources.dll
TradesMate/DataService.Tests/obj/Debug/DataService.Tests.csproj.FileListAbsolute.txt
TradesMate/DataService.Tests/obj/Debug/DataService.Tests.csprojResolveAssemblyReference.cache
TradesMate/DataService.Tests/obj/Debug/DataService.Tests.dll
TradesMate/DataService.Tests/obj/Debug/DataService.Tests.pdb
TradesMate/DataService/bin/Antlr3.Runtime.dll
TradesMate/DataService/bin/Antlr3.Runtime.pdb
TradesMate/DataService/bin/ApplicationInsights.config
TradesMate/DataService/bin/DataService.dll
TradesMate/DataService/bin/DataService.dll.config
TradesMate/DataService/bin/DataService.pdb
TradesMate/DataService/bin/de/Microsoft.OData.Core.resources.dll
TradesMate/DataService/bin/de/Microsoft.OData.Edm.resources.dll
TradesMate/DataService/bin/de/Microsoft.Spatial.resources.dll
TradesMate/DataService/bin/EF.Data.dll
TradesMate/DataService/bin/EF.Data.pdb
TradesMate/DataService/bin/EntityFramework.dll
TradesMate/DataService/bin/EntityFramework.SqlServer.dll
TradesMate/DataService/bin/EntityFramework.SqlServer.xml
TradesMate/DataService/bin/EntityFramework.xml
TradesMate/DataService/bin/es/Microsoft.OData.Core.resources.dll
TradesMate/DataService/bin/es/Microsoft.OData.Edm.resources.dll
TradesMate/DataService/bin/es/Microsoft.Spatial.resources.dll
TradesMate/DataService/bin/fr/Microsoft.OData.Core.resources.dll
TradesMate/DataService/bin/fr/Microsoft.OData.Edm.resources.dll
TradesMate/DataService/bin/fr/Microsoft.Spatial.resources.dll
TradesMate/DataService/bin/it/Microsoft.OData.Core.resources.dll
TradesMate/DataService/bin/it/Microsoft.OData.Edm.resources.dll
TradesMate/DataService/bin/it/Microsoft.Spatial.resources.dll
TradesMate/DataService/bin/ja/Microsoft.OData.Core.resources.dll
TradesMate/DataService/bin/ja/Microsoft.OData.Edm.resources.dll
TradesMate/DataService/bin/ja/Microsoft.Spatial.resources.dll
TradesMate/DataService/bin/ko/Microsoft.OData.Core.resources.dll
TradesMate/DataService/bin/ko/Microsoft.OData.Edm.resources.dll
TradesMate/DataService/bin/ko/Microsoft.Spatial.resources.dll
TradesMate/DataService/bin/Microsoft.AI.Agent.Intercept.dll
TradesMate/DataService/bin/Microsoft.AI.DependencyCollector.dll
TradesMate/DataService/bin/Microsoft.AI.DependencyCollector.xml
TradesMate/DataService/bin/Microsoft.AI.PerfCounterCollector.dll
TradesMate/DataService/bin/Microsoft.AI.ServerTelemetryChannel.dll
TradesMate/DataService/bin/Microsoft.AI.ServerTelemetryChannel.xml
TradesMate/DataService/bin/Microsoft.AI.Web.dll
TradesMate/DataService/bin/Microsoft.AI.Web.xml
TradesMate/DataService/bin/Microsoft.AI.WindowsServer.dll
TradesMate/DataService/bin/Microsoft.AI.WindowsServer.xml
TradesMate/DataService/bin/Microsoft.ApplicationInsights.dll
TradesMate/DataService/bin/Microsoft.ApplicationInsights.xml
TradesMate/DataService/bin/Microsoft.AspNet.Identity.Core.dll
TradesMate/DataService/bin/Microsoft.AspNet.Identity.Core.xml
TradesMate/DataService/bin/Microsoft.AspNet.Identity.EntityFramework.dll
TradesMate/DataService/bin/Microsoft.AspNet.Identity.EntityFramework.xml
TradesMate/DataService/bin/Microsoft.AspNet.Identity.Owin.dll
TradesMate/DataService/bin/Microsoft.AspNet.Identity.Owin.xml
TradesMate/DataService/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.dll
TradesMate/DataService/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.xml
TradesMate/DataService/bin/Microsoft.OData.Core.dll
TradesMate/DataService/bin/Microsoft.OData.Core.xml
TradesMate/DataService/bin/Microsoft.OData.Edm.dll
TradesMate/DataService/bin/Microsoft.OData.Edm.xml
TradesMate/DataService/bin/Microsoft.Owin.dll
TradesMate/DataService/bin/Microsoft.Owin.Host.SystemWeb.dll
TradesMate/DataService/bin/Microsoft.Owin.Host.SystemWeb.xml
TradesMate/DataService/bin/Microsoft.Owin.Security.Cookies.dll
TradesMate/DataService/bin/Microsoft.Owin.Security.Cookies.xml
TradesMate/DataService/bin/Microsoft.Owin.Security.dll
TradesMate/DataService/bin/Microsoft.Owin.Security.Facebook.dll
TradesMate/DataService/bin/Microsoft.Owin.Security.Facebook.xml
TradesMate/DataService/bin/Microsoft.Owin.Security.Google.dll
TradesMate/DataService/bin/Microsoft.Owin.Security.Google.xml
TradesMate/DataService/bin/Microsoft.Owin.Security.MicrosoftAccount.dll
TradesMate/DataService/bin/Microsoft.Owin.Security.MicrosoftAccount.xml
TradesMate/DataService/bin/Microsoft.Owin.Security.OAuth.dll
TradesMate/DataService/bin/Microsoft.Owin.Security.OAuth.xml
TradesMate/DataService/bin/Microsoft.Owin.Security.Twitter.dll
TradesMate/DataService/bin/Microsoft.Owin.Security.Twitter.xml
TradesMate/DataService/bin/Microsoft.Owin.Security.xml
TradesMate/DataService/bin/Microsoft.Owin.xml
TradesMate/DataService/bin/Microsoft.Spatial.dll
TradesMate/DataService/bin/Microsoft.Spatial.xml
TradesMate/DataService/bin/Microsoft.Web.Infrastructure.dll
TradesMate/DataService/bin/Newtonsoft.Json.dll
TradesMate/DataService/bin/Newtonsoft.Json.xml
TradesMate/DataService/bin/Owin.dll
TradesMate/DataService/bin/roslyn/csc.exe
TradesMate/DataService/bin/roslyn/Microsoft.Build.Tasks.CodeAnalysis.dll
TradesMate/DataService/bin/roslyn/Microsoft.CodeAnalysis.CSharp.dll
TradesMate/DataService/bin/roslyn/Microsoft.CodeAnalysis.dll
TradesMate/DataService/bin/roslyn/Microsoft.CodeAnalysis.VisualBasic.dll
TradesMate/DataService/bin/roslyn/Microsoft.CSharp.Core.targets
TradesMate/DataService/bin/roslyn/Microsoft.VisualBasic.Core.targets
TradesMate/DataService/bin/roslyn/System.Collections.Immutable.dll
TradesMate/DataService/bin/roslyn/System.Reflection.Metadata.dll
TradesMate/DataService/bin/roslyn/vbc.exe
TradesMate/DataService/bin/roslyn/VBCSCompiler.exe
TradesMate/DataService/bin/roslyn/VBCSCompiler.exe.config
TradesMate/DataService/bin/ru/Microsoft.OData.Core.resources.dll
TradesMate/DataService/bin/ru/Microsoft.OData.Edm.resources.dll
TradesMate/DataService/bin/ru/Microsoft.Spatial.resources.dll
TradesMate/DataService/bin/System.Net.Http.Formatting.dll
TradesMate/DataService/bin/System.Net.Http.Formatting.xml
TradesMate/DataService/bin/System.Web.Helpers.dll
TradesMate/DataService/bin/System.Web.Helpers.xml
TradesMate/DataService/bin/System.Web.Http.dll
TradesMate/DataService/bin/System.Web.Http.Owin.dll
TradesMate/DataService/bin/System.Web.Http.Owin.xml
TradesMate/DataService/bin/System.Web.Http.WebHost.dll
TradesMate/DataService/bin/System.Web.Http.WebHost.xml
TradesMate/DataService/bin/System.Web.Http.xml
TradesMate/DataService/bin/System.Web.Mvc.dll
TradesMate/DataService/bin/System.Web.Mvc.xml
TradesMate/DataService/bin/System.Web.OData.dll
TradesMate/DataService/bin/System.Web.OData.xml
TradesMate/DataService/bin/System.Web.Optimization.dll
TradesMate/DataService/bin/System.Web.Optimization.xml
TradesMate/DataService/bin/System.Web.Razor.dll
TradesMate/DataService/bin/System.Web.Razor.xml
TradesMate/DataService/bin/System.Web.WebPages.Deployment.dll
TradesMate/DataService/bin/System.Web.WebPages.Deployment.xml
TradesMate/DataService/bin/System.Web.WebPages.dll
TradesMate/DataService/bin/System.Web.WebPages.Razor.dll
TradesMate/DataService/bin/System.Web.WebPages.Razor.xml
TradesMate/DataService/bin/System.Web.WebPages.xml
TradesMate/DataService/bin/WebGrease.dll
TradesMate/DataService/bin/zh-Hans/Microsoft.OData.Core.resources.dll
TradesMate/DataService/bin/zh-Hans/Microsoft.OData.Edm.resources.dll
TradesMate/DataService/bin/zh-Hans/Microsoft.Spatial.resources.dll
TradesMate/DataService/bin/zh-Hant/Microsoft.OData.Core.resources.dll
TradesMate/DataService/bin/zh-Hant/Microsoft.OData.Edm.resources.dll
TradesMate/DataService/bin/zh-Hant/Microsoft.Spatial.resources.dll
TradesMate/DataService/obj/Debug/DataService.csproj.FileListAbsolute.txt
TradesMate/DataService/obj/Debug/DataService.csprojResolveAssemblyReference.cache
TradesMate/DataService/obj/Debug/DataService.dll
TradesMate/DataService/obj/Debug/DataService.pdb
TradesMate/EF.Data/bin/Debug/EF.Data.dll
TradesMate/EF.Data/bin/Debug/EF.Data.dll.config
TradesMate/EF.Data/bin/Debug/EF.Data.pdb
TradesMate/EF.Data/bin/Debug/EntityFramework.dll
TradesMate/EF.Data/bin/Debug/EntityFramework.SqlServer.dll
TradesMate/EF.Data/bin/Debug/EntityFramework.SqlServer.xml
TradesMate/EF.Data/bin/Debug/EntityFramework.xml
TradesMate/EF.Data/obj/Debug/EF.Data.csproj.FileListAbsolute.txt
TradesMate/EF.Data/obj/Debug/EF.Data.csprojResolveAssemblyReference.cache
TradesMate/EF.Data/obj/Debug/EF.Data.dll
TradesMate/EF.Data/obj/Debug/EF.Data.pdb
TradesMate/EF.UnitTest/bin/Debug/EF.Data.dll
TradesMate/EF.UnitTest/bin/Debug/EF.Data.pdb
TradesMate/EF.UnitTest/bin/Debug/EF.UnitTest.dll
TradesMate/EF.UnitTest/bin/Debug/EF.UnitTest.dll.config
TradesMate/EF.UnitTest/bin/Debug/EF.UnitTest.pdb
TradesMate/EF.UnitTest/bin/Debug/EntityFramework.dll
TradesMate/EF.UnitTest/bin/Debug/EntityFramework.SqlServer.dll
TradesMate/EF.UnitTest/bin/Debug/EntityFramework.SqlServer.xml
TradesMate/EF.UnitTest/bin/Debug/EntityFramework.xml
TradesMate/EF.UnitTest/bin/Debug/Microsoft.VisualStudio.QualityTools.UnitTestFramework.dll
TradesMate/EF.UnitTest/bin/Debug/Microsoft.VisualStudio.QualityTools.UnitTestFramework.xml
TradesMate/EF.UnitTest/obj/Debug/EF.UnitTest.csprojResolveAssemblyReference.cache
TradesMate/EF.UnitTest/obj/Debug/EF.UnitTest.dll
TradesMate/EF.UnitTest/obj/Debug/EF.UnitTest.pdb
TradesMate/.vs/TradesMateDataService/v14/.suo
TradesMate/.vs/TradesMateDataService/v14/.suo
TradesMate/.vs/TradesMate/v14/.suo
TradesMate/.vs/TradesMate/v14/.suo
