<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Clinets</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
</div>



<div class="">
    <form class="form-horizontal">

        <div class="row">

            <div class="row ">

                <div class="col-md-8 com-xs-6">
                    <div class="input-group">
                        <button type="button" id="loading-example-btn" class="btn btn-white btn-sm" ng-click=""><i class="fa fa-plus-circle "></i> Add new client</button>
                    </div>
                </div>
                <div class="col-md-4 com-xs-6">
                    <div class="input-group">
                        <input type="text" placeholder="Search personnel name" class="input-sm form-control" ng-model="filterTextModel.searchText">
                    </div>
                </div>
            </div>
        </div>
        <div class="">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th></th>
                        <th>Name</th>
                        <th>Address</th>
                        <th></th>
                    </tr>
                </thead>


                <tbody>

                    <tr ng-repeat="client in clientlist | filter:search">

                        <td>
                            <i class="fa fa-user"></i>
                        </td>
                        <td class="">
                            <a>{{client.firstName}} {{client.surName}}</a>
                            <br />

                            <small>{{client.email}}</small>
                        </td>
                        <td class="">
                            {{client.address.line1}}&nbsp;{{client.address.line2}}&nbsp;{{client.address.line3}}
                        </td>
                        <td class="">
                            <a class="btn btn-white btn-sm" ng-click="openClientDetail(client)"><i class="fa fa-pencil"></i></a>
                            <a class="btn btn-white btn-sm" ng-click="deleteClient(client)"><i class="fa fa-trash-o"></i></a>
                        </td>

                    </tr>
                </tbody>
            </table>

        </div>

    </form>
</div>