<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Clinets</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
</div>



<div class="">
    <form class="form-horizontal">

        <div class="row">

            <div class="row ">

                <div class="col-xs-6 col-md-9">

                    <button type="button" title="Add new client" id="loading-example-btn" class="btn btn-white btn-sm" ng-click="addNewClient()">
                        <i class="fa fa-plus-circle "></i>
                    </button>

                </div>
                <div class="col-xs-6  col-md-3 pull-right">

                    <input type="text" placeholder="Search client.." class="input-sm form-control" ng-model="filterTextModel.searchText">
                   

                </div>
            </div>
        </div>
        <div class="">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th></th>
                        <th>Name</th>
                        <th>Address</th>
                        <th></th>
                    </tr>
                </thead>


                <tbody>

                    <tr ng-repeat="client in clientlist | filter:search">

                        <td>
                            <i class="fa fa-user"></i>
                        </td>
                        <td class="">
                            <a>{{client.firstName}} {{client.surName}}</a>
                            <br />

                            <small>{{client.email}}</small>
                        </td>
                        <td class="">
                            {{client.address.line1}}&nbsp;{{client.address.line2}}&nbsp;{{client.address.line3}}
                        </td>
                        <td class="">
                            <a class="btn btn-white btn-sm" title="View Detail" ng-click="openClientDetail(client, true)"><i class="fa fa-eye"></i></a>
                            <a class="btn btn-white btn-sm" title="Edit" ng-click="openClientDetail(client,false)"><i class="fa fa-pencil"></i></a>
                            <a class="btn btn-white btn-sm" title="Delete" ng-click="deleteClient(client)"><i class="fa fa-trash-o"></i></a>
                        </td>

                    </tr>
                </tbody>
            </table>

        </div>

    </form>
</div>


   <!-- The actual modal template, just a bit o bootstrap -->
<script type="text/ng-template" id="deleteClientmodal.html">
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title danger">Warning</h4>
                </div>
                <div class="modal-body">
                    <p>Deleting client will remove all related properties and work records. Proceed?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" ng-click="close(false)" class="btn btn-default" data-dismiss="modal">No</button>
                    <button type="button" ng-click="close(true)" class="btn btn-primary" data-dismiss="modal">Yes</button>
                </div>
            </div>
        </div>
    </div>
</script>