
<div class="row">
    <i class="fa fa-arrow-circle-o-left fa-3x" ng-click="goBack()"></i>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <h1 ng-show="!clientName" class="page-header">
                Properties
            </h1>
        </div>
        <div ng-show="clientName" class="col-lg-12">
            <h1 class="page-header">Properties for {{clientName}}</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
</div>



<div class="">
    <form class="form-horizontal">

        <div class="row">
            <div class="col-xs-6 col-md-9">

                <button type="button" title="Add new property"
                        id="loading-example-btn" ng-show="clientId"
                        class="btn btn-white btn-sm" ng-click="addNewProperty()">
                    <i class="fa fa-plus "></i>
                </button>

            </div>
            <div class="col-xs-6  col-md-3 pull-right">

                <input type="text" placeholder="Search properties..." class="input-sm form-control" ng-model="filterTextModel.searchText">


            </div>
        </div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Description</th>
                    <th></th>
                </tr>
            </thead>


            <tbody>

                <tr ng-repeat="property in propertyList | filter:search">

                    <td ng-click="viewPropertySections(property)">
                        <i class="fa fa-home"></i>
                    </td>
                    <td class="" ng-click="viewPropertySections(property)">
                        <a>{{property.name}}</a>
                        <br />

                        <small>{{property.condition}}</small>
                    </td>
                    <td class="" ng-click="viewPropertySections(property)">
                        {{property.Description}}
                    </td>
                    <td class="">
                        <a class="btn btn-white btn-sm" title="View Detail" ng-click="openPropertyDetail(property, true)"><i class="fa fa-eye"></i></a>
                        <a class="btn btn-white btn-sm" title="Edit" ng-click="openPropertyDetail(property,false)"><i class="fa fa-pencil"></i></a>
                        <a class="btn btn-white btn-sm" title="Delete" ng-click="deleteProperty(property)"><i class="fa fa-trash-o"></i></a>
                    </td>

                </tr>
            </tbody>
        </table>


    </form>
</div>


<!-- The actual modal template, just a bit o bootstrap -->
<script type="text/ng-template" id="deletePropertymodal.html">
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title danger">Warning</h4>
                </div>
                <div class="modal-body">
                    <p>Deleting property will remove all related work records. Proceed?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" ng-click="close(false)" class="btn btn-default" data-dismiss="modal">No</button>
                    <button type="button" ng-click="close(true)" class="btn btn-primary" data-dismiss="modal">Yes</button>
                </div>
            </div>
        </div>
    </div>
</script>