
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Property Detail</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
</div>


<div class="row">
    <i class="fa fa-arrow-circle-o-left fa-3x" ng-click="goToPropertyIndex()"></i>
</div>


<div class="row">
    <div class="col-lg-12">

        <form name="propertyForm" class="form-horizontal">
            <fieldset ng-disabled="readOnly">
                <div class="form-group">
                    <label class="col-sm-3 control-label">Property Name</label>
                    <div class="col-sm-9">
                        <input type="text" name="PropertyName" class="form-control" placeholder="--property name--" ng-model="property.name" required>
                        <div ng-messages="propertyForm.PropertyName.$error">
                            <div class="text-danger" ng-message="required">This field is required</div>
                        </div>

                    </div>

                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">Condition</label>
                    <div class="col-sm-9">
                        <input type="text" name="propertyCondition" placeholder="--condition--" class="form-control" ng-model="property.condition">
                        <div ng-messages="propertyForm.propertyCondition.$error">
                            <div class="text-danger" ng-message="required">This field is required</div>

                        </div>
                    </div>

                </div>


                <div class="form-group">
                    <label class="col-sm-3 control-label">Description</label>
                    <div class="col-sm-9">
                        <input type="text" name="propertyDescription" class="form-control" placeholder="--description--" ng-model="property.description">
                        <div ng-messages="propertyForm.propertyDescription.$error">
                            <div class="text-danger" ng-message="required">This field is required</div>
                        </div>
                    </div>

                </div>




                <div class="form-group">
                    <label class="col-sm-3 control-label">Narrative</label>
                    <div class="col-sm-9">
                        <input type="text" placeholder="--narrative--" class="form-control"
                               ng-model="property.narrative">
                    </div>
                </div>


                <div class="form-group">
                    <label class="col-sm-3 control-label">Comment</label>
                    <div class="col-sm-9">
                        <input type="text" placeholder="--comment--" class="form-control"
                               ng-model="property.comment">
                    </div>
                </div>
            </fieldset>
        </form>
        <div class="" ng-hide="readOnly">

            <button class="btn btn-primary pull-right" type="button" ng-click="save()" ng-disabled="propertyForm.$invalid">Save</button>
            <button class="btn btn-danger pull-left" type="button" ng-click="goToPropertyIndex()">Cancel</button>
        </div>

    </div>
</div>


<hr>
<div class="row">
    <div class="col-lg-12">

        <form class="form-horizontal">
            <fieldset ng-disabled="readOnly">
                <div class="form-group">
                    <label class="col-sm-3 control-label">Upload photo for this property</label>
                    <div class="col-sm-9">
                        <input type="file" custom-on-change="uploadFile" />

                        <div style="height: 305px">
                            <carousel interval="myInterval">
                                <slide ng-repeat="slide in slides">
                                    <img ng-src="{{slide.image}}" style="margin:auto;">
                                    <div class="carousel-caption">
                                        <!--<h4>Slide {{$index}}</h4>
                                        <p>{{slide.text}}</p>-->
                                    </div>
                                </slide>
                            </carousel>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>


    </div>
</div>
<div class="row" ng-hide="readOnly">


</div>





