<div class="form-horizontal">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">Clients</h2>
        </div>

    </div>
    <div class="row ">
        <div class="col-xs-6 col-md-9">

            <button type="button" title="Add new client" id="loading-example-btn" class="btn btn-default btn-sm" ng-click="addNewClient()">
                <i class="fa fa-plus"></i> Add Client
            </button>

        </div>
        <div class="col-xs-6  col-md-3 pull-right">

            <input type="text" placeholder="Search clients..." class="input-sm form-control" ng-model="filterTextModel.searchText">


        </div>
    </div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Address</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            <tr ng-repeat="client in clientlist | filter:search">

                <td class="col-md-3 col-xs-2">
                    <a>{{client.firstName}} {{client.surName}}</a>
                    <br />
                    <small>{{client.email}}</small>
                </td>
                <td class="col-md-6 col-xs-4">
                    {{client.address.line1}}&nbsp;{{client.address.line2}}&nbsp;{{client.address.line3}}
                </td>
                <td class="col-md-1 col-xs-2">
                    <a class="btn btn-default btn-sm" title="Manage Properties" ng-click="viewClientProperties(client)">Properties</a>
                </td>
                <td class="col-md-1 col-xs-2">

                    <a class="btn btn-primary btn-sm" title="Edit Client" ng-click="openClientDetail(client,false)">Edit</a>
                </td>
                <td class="col-md-1 col-xs-2">
                    <a class="btn btn-danger btn-sm" title="Delete Client" ng-click="deleteClient(client)">Delete</a>
                </td>

            </tr>
        </tbody>
    </table>

</div>


<!-- The actual modal template, just a bit o bootstrap -->
<script type="text/ng-template" id="deleteClientmodal.html">
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" ng-click="close(false)" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title danger">Delete Client</h4>
                </div>
                <div class="modal-body">
                    <p>This will also remove all the related properties. Proceed?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" ng-click="close(false)" class="btn btn-default" data-dismiss="modal">No</button>
                    <button type="button" ng-click="close(true)" class="btn btn-primary" data-dismiss="modal">Yes</button>
                </div>
            </div>
        </div>
    </div>
</script>