<form name="clientForm" class="form-horizontal">

    <br />
    <div class="form-group">
        <div class="col-lg-12 col-sm-12">
            <a class="btn btn-default" ng-click="goBack()">
                <i class="fa fa-chevron-circle-left" aria-hidden="true"></i> &nbsp;Go Back
            </a>
        </div>
    </div>
    <fieldset ng-disabled="readOnly">
        <div class="form-group required">
            <label class="col-sm-3 control-label">First Name</label>
            <div class="col-sm-9">
                <input type="text" name="clientFirstName" class="form-control" placeholder="first name" ng-model="client.firstName" required>
                <div ng-messages="clientForm.clientFirstName.$error">
                    <div class="text-danger" ng-message="required">This field is required</div>
                </div>

            </div>

        </div>
        <div class="form-group required">
            <label class="col-sm-3 control-label">Last Name</label>
            <div class="col-sm-9">
                <input type="text" name="clientSurName" class="form-control" placeholder="last name" ng-model="client.surName" required>
                <div ng-messages="clientForm.clientSurName.$error">
                    <div class="text-danger" ng-message="required">This field is required</div>
                </div>
            </div>

        </div>



        <div class="form-group">
            <label class="col-sm-3 control-label">Email</label>
            <div class="col-sm-9">
                <input type="email" name="clientEmail" placeholder="email" class="form-control" ng-model="client.email">
                <div ng-messages="clientForm.clientEmail.$error">
                    <div class="text-danger" ng-message="required">This field is required</div>
                    <div class="text-danger" ng-message="email">Your email address is invalid</div>
                </div>
            </div>

        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Mobile</label>
            <div class="col-sm-9"><input type="text" placeholder="mobile" class="form-control" ng-model="client.mobileNumber"></div>
        </div>
    </fieldset>
</form>
<div class="" ng-hide="readOnly">

    <button class="btn btn-primary pull-right" type="button" ng-click="save()" ng-disabled="clientForm.$invalid">Save</button>
    <button class="btn btn-danger pull-left" type="button" ng-click="goToClientIndex()">Cancel</button>
</div>



