<form name="templateForm" class="form-horizontal">
    <br />
    <div class="form-group">
        <div class="col-lg-12 col-sm-12">
            <a class="btn btn-default" ng-click="goTemplateIndex()">
                <i class="fa fa-chevron-circle-left" aria-hidden="true"></i> &nbsp;Back
            </a>
        </div>
    </div>

    <fieldset ng-disabled="readOnly">
        <legend>{{templateId ? 'Work Item Template Details' : 'Add Template'}}</legend>
        <div class="form-group">
            <label class="col-sm-3 control-label">Name</label>
            <div class="col-sm-9">
                <input type="text" name="templateName" class="form-control" placeholder="name" ng-model="template.name" required>
                <div ng-messages="templateForm.templateName.$error">
                    <div class="text-danger" ng-message="required">This field is required</div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Description</label>
            <div class="col-sm-9">
                <textarea  name="templateDescription" class="form-control" placeholder="description" ng-model="template.description" required></textarea>
                <div ng-messages="templateForm.templateDescription.$error">
                    <div class="text-danger" ng-message="required">This field is required</div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">Type</label>
            <div class="col-sm-9">

                <select name="templateType" ng-model="section.type" required class="form-control">
                    <option value="Electricain">Electricain</option>
                </select>
                <!--<input type="text" name="sectionName" class="form-control" placeholder="--name--" ng-model="section.type" required>-->
                <div ng-messages="templateForm.templateType.$error">
                    <div class="text-danger" ng-message="required">This field is required</div>
                </div>

            </div>

        </div>
    </fieldset>
</form>
<div class="" ng-hide="readOnly">

    <button class="btn btn-primary pull-right" type="button" ng-click="save()" ng-disabled="sectionForm.$invalid">Save</button>
    <button class="btn btn-danger pull-left" type="button" ng-click="goTemplateIndex()">Cancel</button>
</div>


