<div class="form-horizontal">
    <div class="form-group">
        <div class="col-lg-12">
            <h2 class="page-header">Work Request</h2>
        </div>

    </div>
    

    <div class="form-group">
        <div class="col-xs-1 col-lg-3"></div>

            <div class="col-xs-10 col-lg-6">

                <form role="form" name="workRequestForm">
                  
                    <div class="form-group">


                        <input type="radio" ng-model="requestInfo.isNewProperty" ng-value="false" id="r2" />
                        <label for="r1">I want request work for my existing property</label> 
                        <br />
                        <input type="radio" ng-model="requestInfo.isNewProperty" ng-value="true"  id="r1" />
                        <label for="r1">I want request work for a new property </label>
                       
                
                    </div>

                    <div class="form-group" ng-show="!requestInfo.isNewProperty">
                        <label class="control-label">Property</label>
                        <select name="" ng-model="selectedProperty" ng-options="item as item.name for item in propertyList">
                        </select>
                    </div>

                    <div class="form-group" ng-show="requestInfo.isNewProperty">
                        <label class="control-label">New property address</label>
                        <input type="text" ng-model="newPropertyAddress" placeholder="Address"
                               uib-typeahead="item as item.formatted_address for item in findAddress($viewValue) "
                               typeahead-loading="loading"
                               typeahead-no-results="noResults"
                               typeahead-wait-ms="200"
                               class="form-control">
                    </div>



                    <div class="form-group">
                        <label class="control-label"> Description</label>
                        <textarea type="text" class="form-control" placeholder="Description" data-ng-model="companyInfo.description" ng-disabled="!editMode" autofocus></textarea>
                    </div>

                    <div class="form-group">
                        <label class="control-label">Credit Card</label>
                        <input type="text" class="form-control" placeholder="Credit card number" data-ng-model="companyInfo.creditCard" ng-disabled="!editMode" autofocus>
                    </div>

                    <div class="form-group" >
                        <label class="control-label">Service Types</label>
                        <div isteven-multi-select
                             input-model="companyInfo.tradeTypes"
                             output-model="outputServiceTypes"
                             button-label="icon name"
                             item-label="icon name"
                             tick-property="ticked"
                             helper-elements=""
                             is-disabled="!editMode">
                        </div>

                    </div>

                    <div class="form-group">
                        <button class="btn btn-md btn-primary btn-block" type="submit" data-ng-click="updateCompany()" ng-disabled="companyInfoForm.$invalid"
                                 ng-show="editMode">Save</button>
                        <button class="btn btn-md btn-info btn-block" ng-click="discard()" ng-show="editMode">Cancel</button>
                    </div> 

                   
 
               

                </form>
            </div>

        <div class="col-xs-1 col-lg-3"></div>

        </div>
</div>

