<form name="memberForm" class="form-horizontal">

    <br />
    <div class="form-group">
        <div class="col-lg-12 col-sm-12">
            <a class="btn btn-default" ng-click="goBack()">
                <i class="fa fa-chevron-circle-left" aria-hidden="true"></i> &nbsp;Go Back
            </a>
        </div>
    </div>
    <br />
    <fieldset ng-disabled="readOnly">
        <legend>{{memberId ? 'Member details' : 'Add member'}}</legend>

        <div class="form-group required"  >
            <label class="col-sm-3 control-label">Username</label>
            <div class="col-sm-9">
                <input type="text" name="memberName" class="form-control" placeholder="Membername" ng-model="member.username" required ng-disabled="!member.isNew" >
                <div ng-messages="memberForm.memberName.$error">
                    <div class="text-danger" ng-message="required">Membername is required</div>
                </div>
            </div>

        </div>

        <div class="form-group required">
            <label class="col-sm-3 control-label">First Name</label>
            <div class="col-sm-9">
                <input type="text" name="memberFirstName" class="form-control" placeholder="First name" ng-model="member.firstName" required>
                <div ng-messages="memberForm.memberFirstName.$error">
                    <div class="text-danger" ng-message="required">First Name is required</div>
                </div>
            </div>

        </div>
        <div class="form-group required">
            <label class="col-sm-3 control-label">Last Name</label>
            <div class="col-sm-9">
                <input type="text" name="memberLastName" class="form-control" placeholder="Last name" ng-model="member.lastName" required>
                <div ng-messages="memberForm.memberLastName.$error">
                    <div class="text-danger" ng-message="required">Last Name is required</div>
                </div>
            </div>

        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Email</label>
            <div class="col-sm-9">
                <input type="email" name="memberEmail" placeholder="email" class="form-control" ng-model="member.email">
                <div ng-messages="memberForm.memberEmail.$error">
                    <div class="text-danger" ng-message="email">Your email address is invalid</div>
                </div>
            </div>

        </div>
        <div class="form-group required" ng-hide="readOnly">
            <label class="col-sm-3 control-label">Password</label>
            <div class="col-sm-9">
                <input type="text" name="memberPassword" class="form-control" placeholder="password" ng-model="member.password" ng-minlength="6" ng-maxlength="100" ng-required="member.isNew">
                <div ng-messages="memberForm.memberPassword.$error">
                    <div class="text-danger" ng-message="required">Password is required</div>
                    <div class="text-danger" ng-message="minlength">The Password must be at least 6 characters long</div>
                    <div class="text-danger" ng-message="maxlength">Your field is too long</div>
                </div>

                <div >
                    <div ng-show="!member.isNew">If you provide a new password, the old password will be replaced.</div>
                </div>
            </div>

        </div>
    </fieldset>
</form>
<div class="" ng-hide="readOnly">

    <button class="btn btn-primary pull-right" type="button" ng-click="save()" ng-disabled="memberForm.$invalid">Save</button>
    <button class="btn btn-danger pull-left" type="button" ng-click="goBack()">Cancel</button>
</div>



