
<form class="form-horizontal">
    <br />
    <div class="row">
        <div class="col-lg-6 col-sm-6">
            <a class="btn btn-default" ng-click="goBack()">
                <i class="fa fa-chevron-circle-left" aria-hidden="true"></i> &nbsp;Back
            </a>
        </div>
        <div class="col-lg-6 col-sm-6 ">
            <span class="btn btn-default pull-right" title="View message" ng-click="toggle()">
                <i class="fa fa-envelope" aria-hidden="true"></i> 
            </span>
        </div>

     
    </div>
    <div class="row">
        <div class="col-lg-12" >
            <h2 class="page-header">Property Sections</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-sm-12 ">
            <div class="well">
                Client: {{clientName}} <br/>
                Property : {{propertyName}} - {{propertyAddress}}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 col-md-9">
            <button type="button" title="Add new section" id="loading-example-btn" class="btn btn-default btn-sm" ng-click="addNewSection()">
                <i class="fa fa-plus "></i> Add Section
            </button>
        </div>
        <div class="col-xs-6  col-md-3 pull-right">
            <input type="text" placeholder="Search sections..." class="input-sm form-control" ng-model="filterTextModel.searchText">
        </div>
    </div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th></th>
                <th></th>
            </tr>
        </thead>


        <tbody>

            <tr ng-repeat="section in sectionlist | filter:search">
                <td class="col-md-3 col-xs-2" ng-click="openSectionDetail(section,true)">
                    <a>{{section.name}} </a>
                </td>
                <td class="col-md-6 col-xs-4">
                    {{section.description}}
                </td>
                <td class="col-md-1 col-xs-2">
                    <a class="btn btn-default btn-sm pull-right" title="Manage Work Items" ng-click="viewWorkItems(section)">Work Items</a>
                </td>
                <td class="col-md-1 col-xs-2">
                    <a class="btn btn-primary btn-sm pull-right" title="Edit Section" ng-click="openSectionDetail(section,false)">Edit</a>
                </td>
                <td class="col-md-1 col-xs-2">
                    <a class="btn btn-danger btn-sm" title="Delete Section" ng-click="deleteSection(section)">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>

</form>


<message-panel property-id="{{propertyId}}"></message-panel>

<!-- The actual modal template, just a bit o bootstrap -->
<script type="text/ng-template" id="deleteSectionmodal.html">
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" ng-click="close(false)" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title danger">Delete Section</h4>
                </div>
                <div class="modal-body">
                    <p>This will also remove all the related work items. Proceed?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" ng-click="close(false)" class="btn btn-default" data-dismiss="modal">No</button>
                    <button type="button" ng-click="close(true)" class="btn btn-primary" data-dismiss="modal">Yes</button>
                </div>
            </div>
        </div>
    </div>
</script>