<form class="form-login" role="form" name="registerForm">
    <h2 class="form-login-heading">Sign up</h2>
    <input type="text" class="form-control" placeholder="Username" data-ng-model="registration.userName" required autofocus>

    <input type="text" class="form-control" placeholder="First name" data-ng-model="registration.firstName" required>

    <input type="text" class="form-control" placeholder="Last name" data-ng-model="registration.lastName" required>

    <input type="email" class="form-control" placeholder="Email" data-ng-model="registration.email" required>

    <input type="password" class="form-control" placeholder="Password" data-ng-model="registration.password" required>
    <input type="password" class="form-control" placeholder="Confirm Password" data-ng-model="registration.confirmPassword" required>

    <div class="">
        <input type="checkbox" data-ng-model="registration.isTrade"> Tick this if you are tradespeople.
    </div>
   

    <input type="text" class="form-control" placeholder="Company name" data-ng-model="registration.companyName" ng-show="registration.isTrade" ng-required="registration.isTrade">

 
    <button class="btn btn-lg btn-info btn-block" type="submit" data-ng-click="signUp()" ng-disabled="registerForm.$invalid">Submit</button>
    <div data-ng-hide="message == ''" data-ng-class="(savedSuccessfully) ? 'alert alert-success' : 'alert alert-danger'">
        {{message}}
    </div>
</form>