<div class="background-image">
    <form class="form-login" role="form" name="registerForm">
        <h2 class="form-login-heading text-center">Create a account</h2>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Username" data-ng-model="registration.userName" required autofocus>
        </div>

        <div class="form-group">
            <input type="text" class="form-control" placeholder="First name" data-ng-model="registration.firstName" required>
        </div>



        <div class="form-group">
            <input type="text" class="form-control" placeholder="Last name" data-ng-model="registration.lastName" required>
        </div>



        <div class="form-group">
            <input type="email" class="form-control" placeholder="Email" data-ng-model="registration.email" required>
        </div>



        <div class="form-group">
            <input type="password" class="form-control" placeholder="Password" data-ng-model="registration.password" required>
        </div>
        <div class="form-group">
            <input type="password" class="form-control" placeholder="Confirm Password" data-ng-model="registration.confirmPassword" required>
        </div>

        <div class="form-group">
            <input type="checkbox" data-ng-model="registration.isTrade"> Tick this if you are tradespeople.
        </div>


        <div class="form-group">
            <input type="text" class="form-control" placeholder="Company name"
                   data-ng-model="registration.companyName" ng-show="registration.isTrade" ng-required="registration.isTrade">

        </div>

        <div class="form-group" ng-show="registration.isTrade">
            <label class="control-label">Service Types</label>
            <div isteven-multi-select
                 input-model="serviceTypes"
                 output-model="outputServiceTypes"
                 button-label="icon name"
                 item-label="icon name maker"
                 tick-property="ticked"
                 helper-elements ="">
            </div>

        </div>

        <button class="btn btn-lg btn-info btn-block" type="submit" data-ng-click="signUp()" ng-disabled="registerForm.$invalid">Submit</button>
        <div data-ng-hide="message == ''" data-ng-class="(savedSuccessfully) ? 'alert alert-success' : 'alert alert-danger'">
            {{message}}
        </div>
    </form>
</div>