<div class="form-horizontal">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">Clients</h2>
        </div>

    </div>
    <div id="invitingNewClient">
        <div class="row " ng-show="!sendingRequestStatus">
            <div class="col-xs-9 col-md-9">
                <div class="inner-addon left-addon">
                    <i ng-show="loading" class="glyphicon glyphicon-refresh"></i>
                    <i ng-show="!loading" class="glyphicon glyphicon-user"></i>
                    <input type="text" ng-model="selected" placeholder="Type email to invite new client"
                           uib-typeahead="item as item.label for item in searchClient($viewValue) "
                           typeahead-loading="loading"
                           typeahead-no-results="noResults"
                           typeahead-wait-ms="200"
                           class="form-control">
                </div>
                <span class="hint">Search for client's email, or type in full email address to invite new client.</span>
            </div>
            <div class="col-xs-3 col-md-3" ng-disabled="!inputValid">
                <div ng-click="proceedAddClient()" ng-disabled="!inputValid">
                    <i class="fa fa-arrow-circle-o-right fa-2x" ng-class="{'disable-icon':!inputValid}" aria-hidden="true"></i>
                </div>

            </div>

        </div>

        <div class="row add-new " ng-show="sendingRequestStatus =='existedClient'">
            <div class="col-xs-12">
                <div class="form-group">
                    <div class="col-xs-12">
                        <span class="control-label">Invite {{selected.fullName}} as client of your company. After {{selected.fullName}} accepts the invitation, all his/her property will be listed here </span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-xs-12">
                        <input type="text" placeholder="Message to be sent. e.g. Hello..." ng-model="inviteText"
                               class="form-control">
                    </div>
                </div>
                <div class="btn btn-default accept pull-right" ng-click="sendExistedClient()" ng-show="true">
                    <i class="fa fa-check-circle" aria-hidden="true"></i> &nbsp;Send
                </div>
                <div class="btn btn-default reject pull-right" ng-click="cancel()" ng-show="true">
                    <i class="fa fa-ban" aria-hidden="true"></i> &nbsp;Cancel
                </div>
            </div>
        </div>
        <div class="row add-new " ng-show="sendingRequestStatus =='newClient'">
            <div class="col-xs-12">
                <form name="clientForm" class="form-horizontal">
                    <fieldset >
                        <legend>Invite {{selected}} to be your company's client</legend>
                        <div class="form-group required">
                            <label class="col-sm-3 control-label">First Name</label>
                            <div class="col-sm-9">
                                <input type="text" name="clientFirstName" class="form-control" placeholder="first name" ng-model="newClient.client.firstName" required>
                                <div ng-messages="clientForm.clientFirstName.$error">
                                    <div class="text-danger" ng-message="required">First Name is required</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group required">
                            <label class="col-sm-3 control-label">Last Name</label>
                            <div class="col-sm-9">
                                <input type="text" name="clientLastName" class="form-control" placeholder="last name" ng-model="newClient.client.lastName" required>
                                <div ng-messages="clientForm.clientLastName.$error">
                                    <div class="text-danger" ng-message="required">Last Name is required</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Email</label>
                            <div class="col-sm-9">
                                <input type="email" name="clientEmail" placeholder="email" class="form-control" ng-model="newClient.client.email">
                                <div ng-messages="clientForm.clientEmail.$error">
                                    <div class="text-danger" ng-message="email">Email address is invalid</div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Address for this client's property</label>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Line 1</label>
                            <div class="col-sm-9">
                                <input type="text" name="addressLine1" class="form-control" placeholder="" ng-model="newClient.address.line1" required>
                                <div ng-messages="clientForm.addressLine1.$error">
                                    <div class="text-danger" ng-message="required"> Address line 1 is required</div>
                                </div>
                            </div>
                            
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Line 2</label>
                            <div class="col-sm-9">
                                <input type="text" name="addressLine2" class="form-control" placeholder="" ng-model="newClient.address.line2">
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="col-sm-3 control-label">Line 3</label>
                            <div class="col-sm-9">
                                <input type="text" name="addressLine3" class="form-control" placeholder="" ng-model="newClient.address.line3">
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="col-sm-3 control-label">Suburb</label>
                            <div class="col-sm-9">
                                <input type="text" name="addressSuburb" class="form-control" placeholder="" ng-model="newClient.address.suburb" required>
                                <div ng-messages="clientForm.addressSuburb.$error">
                                    <div class="text-danger" ng-message="required">Suburb is required</div>
                                </div>
                            </div>
                          
                        </div>


                        <div class="form-group">
                            <label class="col-sm-3 control-label">State</label>
                            <div class="col-sm-9">
                                <input type="text" name="addressState" class="form-control" placeholder="" ng-model="newClient.address.state" required>
                                <div ng-messages="clientForm.addressState.$error">
                                    <div class="text-danger" ng-message="required">State is required</div>
                                </div>
                            </div>
                          
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Post Code</label>
                            <div class="col-sm-9">
                                <input type="text" name="addressPostCode" class="form-control" placeholder="" ng-model="newClient.address.postCode" required>
                                <div ng-messages="clientForm.addressPostCode.$error">
                                    <div class="text-danger" ng-message="required">Post code is required</div>
                                </div>
                            </div>
                           
                        </div>
                        <!-- <div class="form-group">
                            <label class="col-sm-3 control-label">Message</label>
                            <div class="col-sm-9">
                                <input type="text" name="clientText" placeholder="e.g. Hello..." class="form-control" ng-model="newClient.inviteText">
                            </div>
                        </div> -->
                    </fieldset>
                </form>
                <div class="btn btn-default accept pull-right" ng-click="sendNewClient()"   ng-disabled="clientForm.$invalid" ng-show="true">
                    <i class="fa fa-check-circle" aria-hidden="true"></i> &nbsp;Send
                </div>
                <div class="btn btn-default reject pull-right" ng-click="cancel()" ng-show="true">
                    <i class="fa fa-ban" aria-hidden="true"></i> &nbsp;Cancel
                </div>
            </div>
        </div>
    </div>
    <hr/>
    <div class="row ">
        <!-- <div class="col-xs-6 col-md-9">

            <div title="Invite new client" class="btn btn-default btn-sm" ng-click="inviteNewClient()">
                <i class="fa fa-plus"></i> Invite new client
            </div>
        </div> -->
        <div class="col-xs-6  col-md-3 pull-right">
            <input type="text" placeholder="Search clients..." class="input-sm form-control" ng-model="filterTextModel.searchText">
        </div>
    </div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Address</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            <tr ng-repeat="client in clientlist | filter:search">

                <td class="col-md-3 col-xs-2" ng-click="openClientDetail(client,true)">
                    <a>{{client.firstName}} {{client.lastName}}</a>
                    <br />
                    <small>{{client.email}}</small>
                </td>
                <td class="col-md-6 col-xs-4">
                    {{client.address.line1}}&nbsp;{{client.address.line2}}&nbsp;{{client.address.line3}}
                </td>
                <td class="col-md-1 col-xs-2">
                    <a class="btn btn-default btn-sm" title="Manage Properties" ng-click="viewClientProperties(client)">Properties</a>
                </td>
                <td class="col-md-1 col-xs-2">

                    <a class="btn btn-primary btn-sm" title="Edit Client" ng-click="openClientDetail(client,false)">Edit</a>
                </td>
                <td class="col-md-1 col-xs-2">
                    <a class="btn btn-danger btn-sm" title="Remove Client" ng-click="deleteClient(client)">Remove</a>
                </td>

            </tr>
        </tbody>
    </table>

</div>


<!-- The actual modal template, just a bit o bootstrap -->
<script type="text/ng-template" id="deleteClientmodal.html">
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" ng-click="close(false)" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title danger">Delete Client</h4>
                </div>
                <div class="modal-body">
                    <p>This will also remove all the related properties. Proceed?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" ng-click="close(false)" class="btn btn-default" data-dismiss="modal">No</button>
                    <button type="button" ng-click="close(true)" class="btn btn-primary" data-dismiss="modal">Yes</button>
                </div>
            </div>
        </div>
    </div>
</script>