<form role="form">
    <div class="row">
        <div class="col-xs-1 col-sm-1 col-md-3 col-lg-4">
            &nbsp;
        </div>
        <div class="col-xs-10 col-sm-10 col-md-6 col-lg-4">
            <h2 class="form-login-heading text-center">Login</h2>
            <hr>
           
            <button class="btn btn-md btn-facebook btn-block" type="button" data-ng-click="authExternalProvider('Facebook')"><i class="fa fa-facebook"></i> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Login with Facebook</button>
            <br/>
            <button class="btn btn-md btn-default btn-block" type="button" data-ng-click="authExternalProvider('Google')">
            <span class="icon-google"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Login with Google </button>
            <div style="background: none;height: 34px;position: relative;text-align: center;">
               <span style="display: inline-block;padding: 8px;">or</span>
               <hr style="border-top:1px solid #dce0e0;margin:-16px auto 10px;width:100%;">
            </div>
           
            <input type="text" class="form-control input-md" placeholder="Username" data-ng-model="loginData.userName" required autofocus>
            <br/>
            <input type="password" class="form-control input-md" placeholder="Password" data-ng-model="loginData.password" required>
            <br/>
            <div class="row">
                <div class="col-xs-6" >
                    
                    <!-- <input type="checkbox"/>&nbsp;Remember me? -->
                </div>
                <div class="col-xs-6">
                    <a class="text-danger pull-right"><u data-ng-click="forgetPassword()">Forgot password?</u></a>
                </div>
            </div>
            <!--<div class="checkbox">
                <label>
                    <input type="checkbox" data-ng-model="loginData.useRefreshTokens"><strong> Use Refresh Tokens</strong>
                </label>
            </div>-->

            <br/>
            <button class="btn btn-md btn-primary btn-block" type="submit" data-ng-click="login()">Login</button>
            <hr>
            <div class="row">
                <div class="col-xs-8 col-lg-10">Don't have an account?</div>
                <div class="col-xs-4 col-lg-2">
                    <button class="btn btn-md btn-default pull-right" style="border-color:#337ab7" data-ng-click="signup()">Sign up</button>
                </div>
            </div>
            <div class="row"><br/></div>                      
            <div data-ng-hide="message == ''" class="alert alert-danger">
                {{message}}
            </div>
        </div>
        <div class="col-xs-1 col-sm-1  col-md-3 col-lg-4">
            <!--<h2 class="form-login-heading">Social Logins</h2>
            <p>Or you can login using one of the social logins bleow</p>
            <button class="btn btn-large btn-facebook btn-block" type="button" data-ng-click="authExternalProvider('Facebook')"><i class="fa fa-facebook"></i> | Connect with Facebook</button>
            <button class="btn btn-large btn-google-plus btn-block" type="button" data-ng-click="authExternalProvider('Google')"><i class="fa fa-google-plus"></i> | Connect with Google+</button>-->
        </div>
    </div>
</form>