<div class="login_main">
        <form role="form">
          <div class="login_row">
            <div class="heading_login">
              <h1 class="logo_main"><img src="content/images/logo.svg"></h1>
              <h3> Enter details below to login! </h3>
            </div>
            <div class="row fm_outer">
              <div class="col-md-12">
                <div class="form_main">
                  <div class="form-group">
                    <input type="text" class="form-control" id="email" placeholder="username" data-ng-model="loginData.userName" required autofocus>
                  </div>
                  <div class="form-group">
                    <input type="password" class="form-control" id="pwd" placeholder="password" data-ng-model="loginData.password" required>
                  </div>
                  <div class="form-check"> <a title="Forgot Password?" class="forgt_p" data-ng-click="forgetPassword()"> Forgot password? </a> </div>
                  <button type="submit" class="btn login_btn" data-ng-click="login()">Login</button>
                  <p class="dont_have"> Don't have any account? <a class="sign_up"  data-ng-click="signup()">Sign up</a> </p>
                  <div data-ng-hide="message == ''" class="alert alert-danger"> {{message}} </div>
                </div>
              </div>
              <!-- <div class="col login_with"> <span class="or_abslt">or</span>
                <div class="lw_align">
                  <h3>You can login with..</h3>
                  <ul class="loginwith_ul">
                    <li> <a data-ng-click="authExternalProvider('Facebook')"> <img src="content/images/fb_icon.png"></a> </li>
                    <li> <a data-ng-click="authExternalProvider('Google')"> <img src="content/images/google_icon2.png"> </a> </li>
                  </ul>
                </div>
              </div> -->
            </div>
          </div>
        </form>
      </div>