<div class="background-image">
    <form class="form-login" role="form" name="resetForm">
        
        
        <div class="form-group">
                <div>New password</div>
            <input type="password" class="form-control" placeholder="new password" data-ng-model="resetpassword" required>
        </div>
        <div class="form-group">
                <div>New password</div>
            <input type="password" class="form-control" placeholder="repeat new password" data-ng-model="resetpasswordRepeat" required>
        </div>
        <div data-ng-show="passwordNotSame" class="alert alert-danger">
                Password does not match
            </div>
        <button class="btn btn-lg btn-info btn-block" type="submit" data-ng-click="submit()" ng-disabled="resetForm.$invalid">Submit</button>
        <div data-ng-hide="message == ''" data-ng-class="(savedSuccessfully) ? 'alert alert-success' : 'alert alert-danger'">
            {{message}}
        </div>
       
    </form>
</div>