<div class="background-image">
    <form class="form-login" role="form" name="resetPasswordForm">
        <h2 class="form-login-heading text-center">Reset your password</h2>
        <div>Enter the email address and we'll send you a link to reset your password</div>
        <div class="form-group">
            <input type="email" class="form-control" placeholder="Email" data-ng-model="resetEmail" required>
        </div>
        <button class="btn btn-lg btn-info btn-block" type="submit" data-ng-click="submit()" ng-disabled="resetPasswordForm.$invalid">Submit</button>
        <div data-ng-hide="message == ''" data-ng-class="(savedSuccessfully) ? 'alert alert-success' : 'alert alert-danger'">
            {{message}}
        </div>
        <div class="form-group">
            <a class="pull-right"><u data-ng-click="goback()">Go back</u></a>
        </div>
    </form>
</div>