body {
	font-family: 'Montserrat', sans-serif;
	font-weight:400;
}
img {
	max-width:100%;
}
a:hover {
	text-decoration:none;
}
.nav_ul li a .li_text, .nav_ul li a .icon, .common_list .list_in, .filtr_ul > li a, .footer_ul li a, .searchbar, a.proprt_a, .list_view .list_in, .dis_ul li a {
	-webkit-transition: 0.8s; /* Safari */
	transition:0.8s;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
 color: #cfcfcf;
}
::-moz-placeholder { /* Firefox 19+ */
 color: #cfcfcf;
}
:-ms-input-placeholder { /* IE 10+ */
 color: #cfcfcf;
}
:-moz-placeholder { /* Firefox 18- */
 color: #cfcfcf;
}
/*header css start from here*/
#main_header {
	padding:20px 0 0 0;
	width:100%;
	float:left;
}
h1.logo_main {
	width:185px;
	font-size: inherit;
	float:left;
}
.profile_dt {
	float:right;
}
.notification {
	float:right;
	margin-right:15px;
}
.profile_dp {
	float:left;
	width:38px;
	height:38px;
}
.profile_dp img {
	width:100%;
	height:auto;
	border-radius:100%;
}
.no-padding-x {
	padding-left: 0px !important;
	padding-right: 0px !important;
}
.profile_name {
	float:left;
	font-size: 16px;
	color: #7b8493;
	line-height:38px;
	margin-left:10px;
}
.txt_noti {
	font-size: 16px;
	font-weight: 600;
	color: #7b8493;
	line-height:38px;
	float:left;
	margin-left:10px;
}
.notif_ic {
	/* background-color:#e06363; */
	width:35px;
	height:35px;
	border-radius:100%;
	float:left;
	position:relative;
}
.msg_icon {
	width:17px;
	margin:0px auto;
	display:block;
	line-height:35px;
}
.nb_noti {
	min-width:20px;
	height:20px;
	line-height:20px;
	background-color:#30ba3b;
	display:block;
	border-radius:100%;
	position:absolute;
	right:-3px;
	top:-3px;
	color:#fff;
	text-align:center;
	font-size: 12px;
	font-weight: 600;
	padding: 0 5px;
}
#nav_main {
	background: #dde2ea;
	background: -moz-linear-gradient(top, #dde2ea 0%, #e2e7ed 5%, #e9ecf1 100%);
	background: -webkit-linear-gradient(top, #dde2ea 0%, #e2e7ed 5%, #e9ecf1 100%);
	background: linear-gradient(to bottom, #dde2ea 0%, #e2e7ed 5%, #e9ecf1 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dde2ea', endColorstr='#e9ecf1', GradientType=0 ); /* IE6-9 */
	width:100%;
	float:left;
	margin:15px 0 0 0;
	padding:14px 0 20px 0;
}
.nav_ul {
	list-style:none;
	float:left;
	margin:5px 0 0 0;
	padding:0px;
}
.nav_ul li {
	float:left;
	margin:0 35px 0 0;
}
.nav_ul li a {
	font-size: 16px;
	color: #b3bdcd;
	font-weight:600;
}
.nav_ul li a .icon {
	background-color:#99a4b8;
	width:24px;
	height:24px;
	line-height:24px;
	text-align:center;
	display: inline-table;
	margin:0 5px 0 0;
	border-radius: 3px;
}
.nav_ul li a:hover .li_text, .nav_ul li.active a .li_text {
	color:#2E4053;
}
.nav_ul li a:hover .icon, .nav_ul li.active a .icon {
	background-color:#5191ff;
}
.searchbar {
	height:35px;
	float:right;
	border-radius: 6px;
	background-color: #ffffff;
	box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.21);
	padding:0 15px;
	border-radius: 5px;
}
.searchbar:hover {
	box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.51);
}
.searchbar input {
	background:url(../images/search.svg) no-repeat left center;
	border:none;
	outline:none;
	padding:0 30px;
	margin:7px 0 0 0;
	font-size: 16px;
	color: #b3bdcd;
}
.searchbar input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
 color: #b3bdcd;
}
.searchbar input::-moz-placeholder { /* Firefox 19+ */
 color: #b3bdcd;
}
.searchbar input:-ms-input-placeholder { /* IE 10+ */
 color: #b3bdcd;
}
.searchbar input:-moz-placeholder { /* Firefox 18- */
 color: #b3bdcd;
}
.nav_row {
	width:100%;
}
/*header css finish here*/

/*main body css start here*/
#main_body {
	width:100%;
	float:left;
	background-color:#d6dee9;
	padding:10px 0 110px 0;
}
.common_list {
	margin-bottom:20px;
	padding: 0 8px;
}
.common_list .list_in {
	background-color:#FFF;
	border-radius: 10px;
	width:100%;
	max-width:285px;
	float:left;
	box-shadow: 0 3px 6px 0 #aebacb;
	margin: 0px auto;
	float: none;
	height:100%;
	display: flow-root;
}
.common_list .list_in:hover {
	background-color: #e9ecef;
}
.list_header {
	width:100%;
	float:left;
	padding:0 15px;
	margin:25px 0 20px 0;
}
.list_header h2 {
	font-size: 20px;
	margin:0px;
	font-weight: 600;
	color: #5191ff;
}
.list_header .mail_id {
	font-size: 14px;
	color: #4c6183;
	font-weight: 600;
}
.pp_list {
	border-top:1px solid #e8ebf1;
	padding:15px 0px;
	width:100%;
	float:left;/*	background:url(../images/list_border.png) repeat-x;*/
}
.pp_list h4 {
	font-size: 14px;
	margin-bottom:10px;
	color: #a9adb3;
	padding:0 15px;
}
.down_footr {
	background-color:#eef1f6;
	height:45px;
	width:100%;
	float:left;
	border-radius:0 0 10px 10px;
	padding:0px 15px;
}
.list_ul {
	list-style:none;
	margin:0px;
	padding:0px;
}
.list_ul li {
	list-style:none;
	font-size: 12px;
	position:relative;
	color: #4c6183;
	background:url(../images/home_icon.svg) no-repeat 13px 3px;
	padding:0 15px 10px 40px;
	margin-bottom:10px;
	border-bottom:1px solid #f4f4f4;
}
.list_ul li .arow {
	position:absolute;
	right:15px;
	top:5px;
	background-color:#dfeaff;
	width:22px;
	height:22px;
	border-radius:5px;
	text-align:center;
	line-height: 20px;
}
.list_ul li address {
	margin-bottom:0px;
}
.hd_bold {
	font-weight:900;
}
.list_ul li:last-child {
	margin-bottom:0px;
	padding-bottom:10px;
	border-bottom:none;
}
.list_in .txt_noti {
	font-size: 15px;
	/* color: #5191ff; */
	margin-left: 10px;
}
.list_in .txt_noti:hover {
	text-decoration:underline;
}
.list_in .notification {
	margin:6px 0 0 0;
	float:left;
}
.icon_fltr {
	float:right;
	margin:10px 0 0 0;
}
.delete_icon {
	float:left;
	width:22px;
	height:22px;
	display:block;
	background:url(../images/trash.svg) no-repeat;
	text-align:center;
	border-radius:5px;
	line-height:22px;
	margin-left:8px;
}
.edit_icon {
	float:left;
	width:22px;
	height:22px;
	display:block;
	background:url(../images/edit.svg) no-repeat;
	text-align:center;
	border-radius:5px;
	line-height:22px;
}
.fltr_txt {
	float:left;
	font-size: 14px;
	color: #99a4b8;
	margin: 7px 15px 0 0;
}
.filter_main {
	margin-bottom:10px;
}
.filtr_ul {
	float:left;
	list-style:none;
	border-radius: 6px;
	background-color: rgba(255, 255, 255, 0.17);
	border: solid 1px #ffffff;
	padding:0px 0px;
	height:36px;
}
.filtr_ul > li {
	float:left;
	border-right:1px solid #bbc3d1;
}
.filtr_ul > li:last-child {
	border:none;
}
.filtr_ul > li a {
	font-size: 12px;
	padding:8px 10px;
	display:block;
	color: #99a4b8;
}
.filtr_ul > li a:hover, .filtr_ul > li.active a {
	color:#FFF;
	background-color:#5191ff;
	box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.18);
}
 .filtr_ul > li a.dropdown-toggle::after {
border-top: 0.50em solid;
 border-right: 0.50em solid transparent;
 border-bottom: 0;
 border-left: 0.50em solid transparent;
top: 2px;
 position: relative;
}
.list_view {
	margin-bottom: 15px;
	width: 100%;
	float: left;
	margin: 0px 0 20px 0;/*padding: 0px;*/
}
.list_heading {
	font-weight: 700;
	font-size: 15px;
	margin: 20px 0px 10px 0;
}
.list_view .list_in {
	width: 100%;
	border-radius: 10px;
	background-color: #ffffff;
	box-shadow: 0 3px 6px 0 #aebacb;
	float:left;
	padding:20px 0 10px 0;
}
.list_view .list_in:hover {
	background-color:#ffe6e6;
}
.name_hd {
	padding-left:30px;
	line-height:20px;
}
.name_hd a, .name_hd {
	font-size: 20px;
	margin: 0px;
	font-weight: 600;
}
.list_adrs {
	font-size: 14px;
	color: #a9adb3;
}
.mail_id {
	font-size: 14px;
	/* margin:10px 0 0 0; */
	font-weight: 600;
	display:block;
	color: #4c6183;
}
a.proprt_a {
	/* font-size: 14px; */
	font-weight: 600;
	color: #99a4b8;
	/* margin:10px 0 0 0; */
	display:block;
}
a.proprt_a:hover {
	color:#5191ff;
}
a.proprt_a:hover .arow {
	border: solid #5191ff;
	border-width: 0 2px 2px 0;
	display: inline-block;
	padding: 3px;
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
}
a.proprt_a .arow {
	border: solid #99a4b8;
	border-width: 0 2px 2px 0;
	display: inline-block;
	padding: 3px;
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	margin-left:10px;
}
.list_view .icon_fltr {
	position: relative;
	left: 0px;
}
.page_dis {
	padding-bottom:10px;
}
.dis_ul {
	list-style:none;
	margin:0px;
	padding: 0px;
}
.dis_ul li {
	float:left;
	font-size: 14px;
	color: #99a4b8;
	margin-right:5px;
}
.dis_ul li a {
	color: #99a4b8;
}
.dis_ul li a:hover {
	color: #5191ff;
}
.list_hd {
	margin-bottom:15px;
}
.list_hd .list_in {
	width: 100%;
	border-radius: 10px;
	box-shadow: 0 3px 6px 0 #aebacb;
	float: left;
	padding: 20px 0 10px 0;
	background-color: #5191ff;
}
.list_hd .icon_fltr {
	position: relative;
	left: -20px;
	top: 10px;
}
.list_hdul {
	list-style:none;
	padding:0 0 0 20px;
	margin-bottom:10px;
	width:100%;
	float:left;
	height:56px;
}
.list_hdul li {
	float:left;
	border-right:1px solid #d6dee9;
	padding:20px 25px 20px 0;
	margin-right:25px;
	height:100%;
	font-size:14px;
	color:#fff;
}
.list_hdul li:last-child {
	border:none;
}
.list_hdul .hd_list {
	font-size: 20px;
	font-weight: 600;
	color: #ffffff;
	margin:0px;
	line-height:18px;
	background:url(../images/user.svg) no-repeat;
	padding: 6px 0 6px 40px;
	position:relative;
	top:-6px;
}
.list_hdul .hd_list a {
	font-size: 20px;
	font-weight: 600;
	color: #ffffff;
}
.list_hdul .mail {
	background:url(../images/@.svg) no-repeat;
	padding:0px 0 0px 25px;
	position:relative;
	top:0px;
}
.list_hdul .nb {
	background:url(../images/call.svg) no-repeat;
	padding:0px 0 0px 25px;
	position:relative;
	top:0px;
}
.list_hd .icon_fltr {
}
.lv_main {
	position:relative;
	width:100%;
	float:left;
	margin:20px 0 20px 0;
}
.lv_common {
	width:100%;
	float:left;
	margin-bottom:10px;
}
.lv_common:last-child {
	margin-bottom:35px;
}
.lv_common .lv1 {
	float:left;
	width:25%;
	padding-left:25px;
}
.lv_common .lv2 {
	float:left;
	width:75%;
}
.hd_lv {
	font-size: 20px;
	font-weight: bold;
	color: #4c6183;
	background:url(../images/home_icon.svg) no-repeat left center;
	background-size:20px 18px;
	padding-left:30px;
}
.list_in .lv_common .notification {
	margin:-4px 0 0 0;
}
.lv_common .lv1 .lt_DS {
	font-size: 14px;
	/* color: #99a4b8; */
	padding-left:29px;
}
.lv_common .lv2 .rt_PH {
	font-size: 14px;
	margin:5px 0 0 0;
	color: #4c6183;
}
.rt_icon.rt_abbslt {
	position:absolute;
	right:20px;
	top:10px;
}
.rt_PH .g_map {
	position:relative;
	top:-3px;
	left:20px;
}
.atchm_ul {
	list-style:none;
	margin:7px 0 0 0;
	padding:0px;
}
.atchm_ul li {
	float:left;
	margin-right:14px;
	margin-bottom:15px;
}
.atchm_ul li img {
	border-radius:10px;
}
.rep_btn {
	float:left;
	width:100%;
	margin:15px 0 0 0;
}
.rep_btn .repts {
	background-color:#f9e0b7;
	display:block;
	margin-right:15px;
	float:left;
	font-weight:bold;
	border-radius:10px;
	color:#f15642;
	padding:6px 30px 6px 15px;
	font-size:20px;
}
.rep_btn .repts span {
	background:url(../images/pdf.svg) no-repeat left center;
	padding:0px 0 0px 35px;
	display:block;
}
.rep_btn .sctns {
	background-color:#b7c9f9;
	display:block;
	float:left;
	font-weight:bold;
	border-radius:10px;
	color:#5a73b5;
	padding:6px 30px 6px 15px;
	font-size:20px;
}
.rep_btn .sctns span {
	background:url(../images/sections.svg) no-repeat left center;
	padding:0px 0 0px 35px;
	display:block;
}
/*main body css finish here*/

/*footer css start from here*/

#main_footer {
	width:100%;
	float:left;
	padding:15px 0;
}
.copy_rt {
	font-size: 14px;
	font-weight: 600;
	color: #b1b1b1;
	float: left;
	margin: 10px 0 0 30px;
}
.footer_ul {
	float:right;
	margin:10px 0 0 0;
}
.footer_ul li {
	float:left;
	list-style:none;
	margin-left:15px;
}
.footer_ul li a {
	font-size: 14px;
	color: #b1b1b1;
	font-weight:600;
}
.footer_ul li a:hover {
	color:#000;
}
/*footer css end from here*/

.status_btn {
	max-width: 14%;
	min-width: 14%;
}
.edit_btn {
	max-width: 8%;
}
.work_items {
	font-size: 16px;
	font-weight: normal;
	color: #fff;
	margin:20px 0 15px 0;
	width: 100%;
	border-radius: 10px;
	box-shadow: 0 3px 6px 0 #aebacb;
	float: left;
	padding: 20px 0 10px 0;
	background-color: #5191ff;
}
.work_items .page-header {
	font-size:25px;
	font-weight: bold;
	color:#fff;
	margin: 5px 0 0 0;
}
.buttn_addwork .btn-sm {
	font-size: 16px;
	font-weight: 500;
	color: #79869e;
	border-radius: 6px;
	background-color:#dde3ec;
	border: solid 1px #ffffff;
	padding: 5px 16px;
}
.work_items .col-work {
	max-width: 19%;
	padding-left: 20px;
}
.buttn_addwork {
	float:right;
}
.back_btn {
	background: url(../images/back.svg) no-repeat left center;
	padding-left: 30px;
	margin:-5px 0 0 0;
}
.mesg_icon {
	max-width:4%;
}
.filter {
	margin:20px 0 25px 0;
}
.filter .select1 {
	margin-bottom:10px;
	float:left;
	margin-right: 10px;
}
.filter .select1 .multiSelect > button {
	margin-bottom:10px;
	border-radius: 6px;
	background-color:#f1f1f1;
	border: solid 1px #dde3ec;
}
.filter .select2 .multiSelect > button {
	border-radius: 6px;
	background-color:#f1f1f1;
	border: solid 1px #dde3ec;
}
.name_col {
	padding-left:30px;
}
.mesg_icon i.i_mesg {
	width: 21px;
	height: 20px;
	background: url(../images/group_14.svg) no-repeat left center;
	display: block;
}
.mesg_icon {
	padding-right:0px;
}
/*180508 css start from here*/

body {
	background-color:#e9ecf1;
}
.login_main {
	width:100%;
	float:left;
	height:100%;
}
.login_row {
	width:840px;
	margin:0px auto;
	margin-top:80px;
}
.heading_login {
	width:100%;
	float:left;
	text-align: center;
}
.heading_login h3 {
	font-size: 18px;
	font-weight: normal;
	color: #6c6c6c;
	width:100%;
	float:left;
	margin: 10px 0 10px 0;
}
.heading_login h1.logo_main {
	width: 274px;
	margin: 0px auto 10px auto;
	float: none;
}
.heading_login h1.logo_main img {
	width:100%;
}
.form_main {
	border-radius: 10px;
	background-color: #ffffff;
	box-shadow: 0 3px 6px 0 #aebacb;
	padding:36px 25px;
	font-size: 16px;
	color: #969696;
	width: 100%;
}
.fm_outer {
	width:100%;
	float:left;
	margin-top:50px;
	margin-bottom: 50px;
}
.form_main .form-control {
	border-radius: 7px;
	border: solid 1px #969696;
	color: #969696;
	font-size: 16px;
}
.forgt_p {
	float:right;
	color: #2399ff !important;
}
.form_main .login_btn {
	border-radius: 8px;
	background-color: #5191ff;
	font-size: 26px;
	font-weight: 500;
	color: #ffffff;
	width: 100%;
	margin: 15px 0 10px 0;
}
.form_main .dont_have {
	text-align:center;
}
.login_with {
	border-left:1px dashed #8b8b8b;
	margin-left:50px;
}
.login_with h3 {
	font-size: 22px;
	font-weight: normal;
	color: #6c6c6c;
}
.loginwith_ul {
	list-style:none;
	padding: 0px;
	margin: 10px 0 0 0;
	width: 100%;
	float: left;
}
.loginwith_ul li {
	float:left;
	margin-right:15px;
}
.or_abslt {
	position:absolute;
	left:-10px;
	top:50%;
	margin:-18px 0 0 0;
	height:35px;
	width:20px;
	background-color:#e9ecf1;
	line-height: 35px;
	font-size:22px;
	color:#8b8b8b;
}
.lw_align {
	margin:80px 0 0 50px;
}
a.sign_up {
	color: #969696 !important;
}
a.sign_up:hover {
	color: #2399ff !important;
}
.login_action {
	text-align:center;
}
.login_action .login_row {
	width:420px;
}
.login_action .heading_login h1.logo_main {
	width: 274px;
	display: inline-block;
	float: none;
}
.login_action .fm_outer {
	margin: 20px 0 50px 0;
}
.login_action .form_main {
	text-align:left;
}
.mesg_reset {
	margin-bottom: 20px;
}
.go_back {
	margin: 10px 0 30px 0;
}
.go_back a u {
	color:#2399ff !important;
	text-decoration:none;
}
.go_back a u:hover {
	text-decoration:underline;
}
.alert-danger {
	margin:10px 0 10px 0;
}
/*180508 css end from here*/


.clickable {
	cursor: pointer
}
.short_descip {
	max-width:40%;
}
.work_items .col-work.ps_hd {
	max-width:30%;
}
.table_overflow {
	width:100%;
	float:left;
}
.edit_section {
	max-width:600px;
}
.save_btn {
	max-width:150px;
}
.list_view.properties .icon_fltr {
	left: -20px;
}
.hint {
	font-size: 12px;
	margin: 10px 0 10px 0;
	display: block;
	opacity: 0.6;
}
.btn_common {
	font-size: 16px;
	font-weight: 500;
	color: #79869e;
	border-radius: 6px;
	background-color: #dde3ec;
	border: solid 1px #ffffff;
	padding: 5px 16px;
	float: left;
	margin: 0px 10px 0 0;
}
.company_member a.delete_icon {
	margin:6px 0 0 0;
	background-position: center center;
	padding: 0 20px;
}
.search_btn {
	background:url(../images/search.svg) no-repeat center center;
	border:none;
	outline:none;
	padding:18px 18px;
	margin: 0px 0 0 -15px;
	font-size: 16px;
	color: #b3bdcd;
	display: block;
	float: left;
}
.list_in .lv_common .notification {
	margin-right:20px;
}
#main_body>.container>.row>.col-12 {
	padding-left:0px;
	padding-right:0px;
}
#main_body>.container>.row>.col-12 .form-group .col-sm-3, #main_body>.container>.row>.col-12 .form-group .col-sm-9 {
	padding-left:0px;
	padding-right:0px;
}
.btn_blue {
	border-radius: 8px;
	background-color: #5191ff;
	font-size: 20px;
	font-weight: 500;
	color: #ffffff;
	width: auto;
	margin: 10px 20px 10px 0;
	float: left;
	padding: 5px 30px;
}
.cancel_btn {
	background-color:inherit;
	color: #000;
	border: none;
	margin: 15px 0 0 0;
}
.cancel_btn:hover {
	text-decoration:underline;
}
.add_nwp {
	font-weight: bold;
	margin: 3px 0 0 5px;
	float: right;
}
.trade_modal .modal-title {
	float:left;
}
.trade_modal .modal-header {
	position:relative;
}
.trade_modal .modal-header .close {
	position: absolute;
	right: 15px;
	top: 10px;
	font-size: 35px;
}
.trade_modal .modal-footer {
	float:left;
	justify-content: flex-start;
}
.trade_modal .modal-footer .btn {
	float:left;
}
.trade_modal .modal-footer .btn.cancel_btn {
	margin:1px 0 0 5px;
	padding: 0 20px;
}
.popover-body .ng-scope a div {
	padding:5px 10px;
}
.download_btn {
	margin:0px 0 0 5px;
	position: relative;
	top: -3px;
}
.report_modal .modal-title {
	width:100%;
	float:left;
	font-weight: 700;
	font-size: 26px;
}
.report_modal .modal-header {
	position:relative;
}
.report_modal .modal-header .close {
	position:absolute;
	top:8px;
	right:16px;
	text-align:center;
	font-size:40px;
}
.downld_btn {
	width:100%;
	float:left;
}
.rm_modal {
	width: 100%;
	float: left;
	text-align: center;
	margin: 50px 0 0 0;
}
.downld_btn .btn_blue {
	display:inline-block;
	float:none;
}
.provd_by img {
	border-radius:10px;
}
.plus_icon .btn.btn-default {
	padding-left:0px;
}
.modal-dialog.report_modal {
	max-width:740px;
}
.modal-dialog.report-modal .modal-content {
	max-width:100%;
}
.report_modal .modal-title {
	text-align: left;
	margin: 14px 0 0 0;
}
.report_modal .downld_btn {
	text-align: right;
}
.downld_btn .btn_blue {
	margin-right:0px;
}
.report_modal .scope_col {
	margin-bottom: 20px;
}
.report_modal .scope_col h3 {
	font-size: 26px;
	font-weight: 700;
	color: #5191ff;
}
.lt_heading {
	font-size: 20px;
	font-weight: bold;
	color: #2d3237;
}
.provided_col p {
	font-size:20px;
	font-weight: normal;
	color: #2d3237;
}
.provided_col h3 {
	font-size:20px;
	font-weight:bold;
	margin:20px 0 0 0;
}
.propty_logo {
	margin:20px 0 0 0;
}
.scope_heading {
	background-color: #f4f4f4;
	font-size: 20px;
	font-weight: bold;
	color: #2d3237;
	padding-top: 10px;
	padding-bottom: 10px;
	margin:30px 0 0 0;
}
.report_heading {
	font-size: 20px;
	font-weight: bold;
	color: #2d3237;
}
.popup_list {
}
.popup_list .name_hd {
	padding-left:15px;
}
.list_heading.popup {
	border-bottom:1px solid #e9ecef;
	padding-bottom: 10px;
}
.list_view.popup {
	border-bottom:1px solid #e9ecef;
	padding-bottom: 10px;
}
.pr_table {
	padding-top:10px;
	padding-bottom:10px;
}
.btn_MU {
	float: none;
	background-color: #ffffff;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.18);
	height: 54px;
	padding: 0 20px;
	border-radius:0px;
}
.btn_MWIT {
	float: none;
	background-color: #ffffff;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.18);
	height: 54px;
	padding: 0 20px;
	margin-left:10px;
	border-radius:0px;
}
.btn_mgc {
	text-align:right;
}
.btn_mgc .btn_align {
	float:right;
}
.manage_compny {
	margin: 0px;
	padding: 0px;
}
.btn_mgc {
	max-width:47%;
}
.img_download {
	max-width:20%;
}
.img_dwd {
	border-radius:10px;
	overflow: hidden;
	margin:20px 0 0 0;
}
.sugst_txt {
	text-align:center;
	font-size: 16px;
	font-weight: normal;
	color: #99a4b8;
	margin:15px 0 0 0;
}









/*responsive css start from here*/

@media only screen and (min-width: 700px) {
 .nav_display.collapse {
display:block;
}
.filtr_ul > li:first-child a {
border-radius:6px 0 0 6px;
}
.filtr_ul > li:last-child a {
border-radius:0 6px 6px 0;
}
}
@media only screen and (max-width: 1200px) {
.hedr_tp .col-md-8 {
width:50%;
flex: inherit;
}
.hedr_tp .col-md-4 {
width:50%;
max-width:100%;
flex: inherit;
}
 .nav_ul li {
 margin: 0 20px 10px 0;
}
#main_body {
 padding: 20px 0 80px 0;
}
#nav_main {
padding: 14px 0 4px 0;
}
.searchbar input {
 width: 100%;
}
.list_view .icon_fltr {
 position: relative;
 left: 16px;
 width: 53px;
}
.list_hd .delete_icon {
 margin-left: 5px;
}
 .work_items .col-work {
 max-width: 15%;
}
.btn_mgc {
 max-width: 87%;
 min-width: 57%;
}
.img_download {
 max-width: 24%;
}
}
 @media only screen and (max-width: 900px) {
#main_body {
 padding: 20px 0 20px 0;
}
.footer_ul {
 float: left;
 margin: 10px 0 0 0;
padding:0px;
}
.copy_rt {
 margin: 7px 0 0 30px;
}
.searchbar {
width:100%;
margin-bottom:10px;
}
.common_list {
width:50%;
}
.list_view .row {
 max-width: 100%;
 padding: 0px;
 margin: 0px;
}
.name_hd {
 padding-left:0px;
 line-height: 20px;
}
.list_adrs {
 margin-bottom: 0px;
}
.list_view .icon_fltr {
 left:0px;
}
.lv_common .lv1 {
width:100%;
padding:0 20px;
}
.lv_common .lv2 {
width:100%;
padding:0 20px;
}
.lv_common .lv1 .lt_DS {
 padding-left: 0px;
}
.list_hdul .hd_list a {
 font-size: 16px;
}
.list_hdul li {
 padding: 10px 15px 10px 0;
 margin-right: 15px;
}
.list_hdul {
 height: auto;
}
 .list_hd .icon_fltr {
 top: 0px;
}
.table_overflow {
width:100%;
overflow:auto;
}
.list_heading, .list_view {
min-width:800px;
}
.work_items .col-work {
 max-width: 100%;
}
.work_items > div {
padding:0px;
}
.buttn_addwork {
 float: left;
}
.buttn_addwork {
 margin: 15px 0 0 0;
}
.filter .select1 .multiSelect > button {
 text-align: left;
}
.mesg_icon .pull-right {
 left: 15px;
 position: relative;
}
.name_hd a {
 font-size: 16px;
}
 .namelist {
 max-width: 38%;
}
.edit_btn {
 max-width: 100%;
}
.login_row {
 width: 90%;
 margin-top:40px;
}
.work_items .col-work {
 max-width: 19%;
 padding-left: 0px;
}
 .work_items {
padding:20px;
}
.work_items .col-work {
 max-width:100%;
 padding-left: 0px;
}
.short_descip {
 max-width: 36%;
}
.list_view.properties {
width:100%;
overflow:auto;
min-width:500px;
}
.list_view.properties .list_in {
width:100%;
}
.status_btn .btn {
font-size:14px;
 padding:4px 8px;
}
.list_in {
padding-bottom:10px;
}
 .modal-dialog.report_modal {
 max-width: 90%;
 left: 5%;
 margin: 20px 0;
}
.modal-dialog.report_modal .modal-content {
 width: inherit;
}
 .list_heading.popup {
 min-width:100%;
}
.list_view.popup {
min-width:100%;
}
.report_modal .scope_col {
 margin-bottom: 20px;
 min-width: 100%;
 float: left;
}
.scope_blank {
min-width: 100%;
 float: left;
}
.report_modal .container {
margin-left:0px;
padding-left:0px;
}
}
 @media only screen and (max-width: 700px) {
 .hedr_tp .col-md-8 {
 width: 100%;
 flex: inherit;
}
h1.logo_main {
 width: 100%;
 text-align: center;
}
.hedr_tp .col-md-4 {
 width: 100%;
 max-width: 100%;
 text-align:center;
}
.notification, .profile_dt {
display:inline-block;
float:right;
margin-left:10px;
}
#nav_main {
 padding: 14px 0 15px 0;
}
.copy_rt {
text-align:center;
margin: 7px 0 0 0px;
width:100%;
}
.footer_ul {
width:100%;
text-align:center;
}
.footer_ul li {
display:inline-block;
float:none;
 margin: 0px 10px;
}
.fltr_txt {
 font-size: 14px;
 margin: 0px 0px 10px 0;
width:100%;
text-align:center;
}
.filtr_ul {
 height: auto;
text-align:center;
}
.filtr_ul > li {
border:none;
display:inline-block;
float:none;
}
.navbar-toggler {
background:url(../images/mob_icon.png) no-repeat;
width:47px;
height:48px;
}
 .hedr_tp {
position:relative;
}
 .hedr_tp .mob_ntf {
 position: absolute;
 bottom: -75px;
 right: 0px;
z-index: 1;
 float: right;
 width: 80%;
}
.nav_ul {
 margin: 20px 0 5px 0;
}
.list_hd {
position:relative;
}
.list_hd .col-lg-1 {
position:static;
}
.list_hd .icon_fltr {
position:absolute;
top:0px;
right:0px;
width:75px;
left:auto;
}
.list_hdul li {
width:100%;
border:none;
}
.list_hdul .hd_list {
top:0px;
}
.back_btn {
 padding-left: 25px;
 font-size: 14px;
}
.name_col {
 padding-left: 15px;
}
.login_with {
 border-left: 0px dashed #8b8b8b;
 border-top: 1px dashed #8b8b8b;
 margin: 50px 15px 0 15px;
}
.or_abslt {
top: -1px;
 left: 50%;
 width: 40px;
 text-align: center;
margin: -18px 0 0 -20px;
}
.lw_align {
 margin: 40px 0 0 0px;
}
.heading_login h1.logo_main {
 display: inline-block;
 float: none;
}
 .heading_login {
 text-align: center;
}
.fm_outer {
 margin:20px 0 50px 0;
}
.lw_align {
 text-align: center;
}
.loginwith_ul li {
 float: none;
 display: inline-block;
}
.login_action .login_row {
 width: 90%;
}
.fm_outer .col-md-6, .fm_outer .login_with {
padding:0px;
}
.col-lg-12 {
padding-left:0px;
padding-right:0px;
}
.page-header {
text-align:center;
}
.col-work .page-header {
text-align:left;
}
 .no-padding-x {
margin: 0px;
}
.list_view.no-padding-x {
margin-bottom: 15px;
}
 .container {
 max-width:640px;
}
.work_items .col-work.ps_hd {
 max-width: 100%;
}
 .work_items .col-work.ps_hd .page-header {
text-align: left;
}
.copy_rt {
 text-align: left;
}
.no-padding-x .col-12 {
padding-left:0px;
padding-right:0px;
}
.row {
margin-left:0px;
margin-right:0px;
}
.list_view.properties .icon_fltr {
 left: 0px;
}
 .col-lg-6, .col {
padding-left:0px;
padding-right:0px;
}
.searchbar.wi_searchbar {
 width:96%;
 margin-bottom: 0px;
float:left;
}
.page-header {
 font-size:26px;
 margin:15px 0 10px 0;
}
.search_btn.abslt_serch {
position:absolute;
right: 23px;
 top: -74px;
}
 .pd_resp {
padding-left: 0px;
 padding-right: 0px;
}
 .search_inpt {
 min-width: 90%;
 padding-left: 0px;
}
.serch_mebr {
 max-width: 10%;
}
.plus_icon {
padding:0px;
}
 .modal-dialog.report_modal {
width:100%;
overflow:scroll;
 pointer-events: auto;
}
.modal-dialog.report_modal .modal-content {
 width: 700px;
}
.manage_compny .page-header {
width:100%;
text-align:center;
}
.btn_mgc {
 max-width: 47%;
 min-width: 100%;
 padding: 0px;
}
 .img_download {
 max-width: 100%;
 padding: 0px;
}
.img_dwd img {
 border-radius: 10px;
}
 .img_dwd {
 border-radius: 10px;
 overflow: hidden;
 width: 200px;
 margin: 0px auto;
}
}
@media only screen and (max-width: 590px) {
 .common_list {
width:100%;
}
.copy_rt {
 text-align:center;
}
 .btn_MU {
 width: 100%;
 margin-bottom: 20px;
}
.btn_MWIT {
width:100%;
 margin-bottom:20px;
margin-left: 0px;
}
}
 @media only screen and (max-width: 500px) {
 #main_body {
 padding:20px 0 20px 0;
}
.profile_name, .txt_noti {
 font-size: 12px;
font-weight: 500;
}
#nav_main {
margin: 5px 0 0 0;
}
.list_header {
 margin: 15px 0 10px 0;
}
.filtr_ul > li {
width:100%;
}
.dropdown-menu.show {
 display: block;
 width: 100%;
}
.hedr_tp .mob_ntf {
 bottom: -65px;
}
 .notification, .profile_dt {
 margin-left:0;
}
.work_items {
margin: 10px 0 20px 0;
}
}
@media only screen and (max-width: 420px) {
 .atchm_ul li {
width:33.3%;
margin:0 0 15px 0;
padding:0 2%;
}
 .atchm_ul li img {
width:100%;
}
 .rep_btn .repts {
width:48%;
margin:0px;
float:left;
font-size:18px;
}
 .rep_btn .sctns {
width:48%;
float:right;
font-size:18px;
}
.search_inpt {
 padding-right: 5px;
}
 .list_heading.popup .list_in {
padding-top:10px;
}
}
 @media only screen and (max-width: 400px) {
a.sign_up {
 clear: both;
 display: block;
}
.search_inpt {
 min-width: 87%;
 padding-left: 0px;
}
.btn_mgc .btn_align {
 float: right;
 width: 100%;
}
.btn_MWIT, .btn_MU {
font-size:12px;
}
}
 @media only screen and (max-width: 355px) {
 .notification {
 margin-right: 0px;
}
 .txt_noti {
 margin-left: 5px;
}
 .profile_name {
 margin-left: 5px;
}
.profile_dp {
 width: 30px;
 height: 30px;
}
.notif_ic {
 width: 30px;
 height: 30px;
}
.msg_icon {
 line-height: 30px;
}
.txt_noti, .profile_name {
 line-height: 32px;
}
 .profile_dt {
 margin-left: 5px;
}
.hedr_tp .mob_ntf {
 bottom: -59px;
}
.rep_btn .sctns span {
 padding: 0px 0 0px 27px;
}
.rep_btn .repts span {
 padding: 0px 0 0px 27px;
}
 .rep_btn .repts {
width:49%;
margin:0px;
float:left;
font-size:16px;
}
 .rep_btn .sctns {
width:49%;
float:right;
font-size:16px;
}
}
/*responsive css end from here*/

.form-control {
	border-radius: 6px;
	background-color: #fbfbfb;
	box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.15);
}
.searchbar .form-control {
	box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0);
}
.control-label {
	font-size: 16px;
	font-weight:normal;
	color: #4c6183;
}
