<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="close(false)" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title danger">Create Property</h4>
            </div>
            <div class="modal-body">
                <form name="propertyForm" class="form-horizontal">

                    <fieldset ng-disabled="readOnly">
                        <legend>{{addressFormatted}}</legend>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Property Name</label>
                            <div class="col-sm-9">
                                <input type="text" name="PropertyName" class="form-control" placeholder="property name" ng-model="property.name">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Description</label>
                            <div class="col-sm-9">
                                <input type="text" name="propertyDescription" class="form-control" placeholder="description" ng-model="property.description">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Line 1</label>
                            <div class="col-sm-9">
                                <input type="text" name="" class="form-control" placeholder="" ng-model="property.address.line1">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Line 2</label>
                            <div class="col-sm-9">
                                <input type="text" name="" class="form-control" placeholder="" ng-model="property.address.line2">
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="col-sm-3 control-label">Line 3</label>
                            <div class="col-sm-9">
                                <input type="text" name="" class="form-control" placeholder="" ng-model="property.address.line3">
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="col-sm-3 control-label">Suburb</label>
                            <div class="col-sm-9">
                                <input type="text" name="" class="form-control" placeholder="" ng-model="property.address.suburb">
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="col-sm-3 control-label">State</label>
                            <div class="col-sm-9">
                                <input type="text" name="" class="form-control" placeholder="" ng-model="property.address.state">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Post Code</label>
                            <div class="col-sm-9">
                                <input type="text" name="" class="form-control" placeholder="" ng-model="property.address.postCode">
                            </div>
                        </div>
                        <div class="form-group">
                            <uib-accordion close-others="false">

                                <div uib-accordion-group class="panel-default" heading="Sections" is-open="status.isPanelOpen" ng-show="!readOnly">
                                    ﻿<div class="form-horizontal">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="form-group">
                                                    <label class="col-sm-3">Bedroom Numer</label>
                                                    <div class="col-sm-9">
                                                        <input type="number" class="form-control" ng-model="defaultSections.bedroomNumber" min="0" max="10" />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-3">Living room Numer</label>
                                                    <div class="col-sm-9">
                                                        <input type="number" class="form-control" ng-model="defaultSections.livingRoomNumber" min="0" max="10" />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-3">Bathroom Numer</label>
                                                    <div class="col-sm-9">
                                                        <input type="number" class="form-control" ng-model="defaultSections.bathroomNumber" min="0" max="10" />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-3">Kitchen Numer</label>
                                                    <div class="col-sm-9">
                                                        <input type="number" class="form-control" ng-model="defaultSections.kitchenNumber" min="0" max="10" />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-3">Laundry room Numer</label>
                                                    <div class="col-sm-9">
                                                        <input type="number" class="form-control" ng-model="defaultSections.laundryRoomNumber" min="0" max="10" />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-3">Hallway Numer</label>
                                                    <div class="col-sm-9">
                                                        <input type="number" class="form-control" ng-model="defaultSections.hallWayNumber" min="0" max="10" />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-3">Deck Numer</label>
                                                    <div class="col-sm-9">
                                                        <input type="number" class="form-control" ng-model="defaultSections.deckNumber" min="0" max="10" />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-3">Basement Numer</label>
                                                    <div class="col-sm-9">
                                                        <input type="number" class="form-control" ng-model="defaultSections.basementNumber" min="0" max="10" />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-3">Garden Numer</label>
                                                    <div class="col-sm-9">
                                                        <input type="number" class="form-control" ng-model="defaultSections.gardenNumber" min="0" max="10" />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-3">Garage Numer</label>
                                                    <div class="col-sm-9">
                                                        <input type="number" class="form-control" ng-model="defaultSections.garageNumber" min="0" max="10" />
                                                    </div>
                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </uib-accordion>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" ng-click="cancel()" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" ng-click="save()" class="btn btn-primary" data-dismiss="modal">Save</button>
            </div>
        </div>
    </div>
</div>