
<form class="form-horizontal">
       
        <div class="row">
          <div class="col-lg-6 col-sm-6"> <a class="btn btn-default back_btn" ng-click="goBack()"> &nbsp;Back to Property Section </a> </div>
          <div class="col">
          <div class="searchbar wi_searchbar">
                <input type="text" placeholder="Search work items..." ng-model="filterTextModel.searchText">
              </div></div>
       
          <div class="col-lg-1 mesg_icon"> <span class="btn btn-default pull-right" title="View message" ng-click="toggle()" ng-show="!isClient"> 
          <i class="i_mesg" aria-hidden="true"></i> </span> </div>
        </div>
        <div class="row work_items">
          <div class="col-lg-3 col-work">
            <h2 class="page-header">Work Items</h2>
          </div>
          <div class="col-lg-4">
            <div class="well"> <b>Property </b>: {{propertyName}} - {{propertyAddress}} </div>
          </div>
          <div class="col-lg-3 sect_brdr"><div class="sect_name"> <b>Section</b> : {{sectionName}} </div></div>
          <div class="col">
                <div class="buttn_addwork">
                <button type="button" title="Add new workItem"
                id="loading-example-btn"
                ng-show="allowAddWorkItem && !isClient" class="btn btn-default btn-sm" ng-click="addNewWorkItem()"> <i class="fa fa-plus"></i> 
                Add Work Item </button>
                </div>
          </div>
        </div>
    
<div class="filter">
        <div class="select1" isteven-multi-select
        input-model="availableStatus"
        output-model="outputSelectedStatus"
        button-label="icon name"
        item-label="icon name"
        tick-property="ticked"
        helper-elements=""
        is-disabled="false"
        orientation="horizontal"> </div>


        <div class="select2" isteven-multi-select
        input-model="availableServiceTypes"
        output-model="outputSelectedServiceTypes"
        button-label="icon name"
        item-label="icon name"
        tick-property="ticked"
        helper-elements=""
        is-disabled="false"
        orientation="horizontal"> </div>


</div>

<div class="table_overflow"><div class="table_1000">
   <div class="col-12 list_heading">
          <div class="list_in">
            <div class="row">
              <div class="col-5 name_col namelist"> Name </div>
              <div class="col-2"> Description </div>
              <div class="col-1"> Quantity </div>
              <div class="col-2"> </div>
              <div class="col-1"> </div>
            </div>
          </div>
        </div>
        </div>
        <div class="col-12 list_view" ng-repeat="workItem in workItemList | filter:search">
          <div class="list_in">
            <div class="row">
              <div class="col-5 namelist" ng-click="openWorkItemDetail(workItem, true)">
                <h2 class="name_hd"> <a> {{workItem.name}}</a></h2>
              </div>
              <div class="col-2"> {{workItem.description}} </div>
              <div class="col-1 text-center"> {{workItem.quantity}} </div>
              <div class="col-1 text-center"> <a class="" title="Manage Attachments" ng-show="!isClient" ng-click="viewWorkItemAttachments(workItem)"><i class="fa fa-paperclip"></i></a> </div>
              <div class="col-1 status_btn">
                <button ng-class="getWorkItemStatusClass(workItem.status)"  title="{{workItem.status}}">{{getWorkItemStatusDisplay(workItem.status)}}</button>
              </div>
              <div class="col edit_btn">
                <div class="icon_fltr"> <a class="edit_icon" ng-show="!isClient" title="Edit Work Item" ng-click="openWorkItemDetail(workItem,false)"></a> <a class="delete_icon" ng-show="!isClient" title="Delete Work Item" ng-click="deleteWorkItem(workItem)"> </a> </div>
              </div>
            </div>
          </div>
        </div>
    </div>   </div>
      </form>
      <message-panel property-id="{{propertyId}}"></message-panel>
      
      <!-- The actual modal template, just a bit o bootstrap --> 
      <script type="text/ng-template" id="deleteWorkItemmodal.html">
          <div class="modal fade">
              <div class="modal-dialog trade_modal">
                  <div class="modal-content">
                      <div class="modal-header">
                          <button type="button" class="close" ng-click="close(false)" data-dismiss="modal" aria-hidden="true">&times;</button>
                          <h4 class="modal-title danger">Delete Work Item</h4>
                      </div>
                      <div class="modal-body">
                          <p>Delete action can not be undone. Proceed?</p>
                      </div>
                      <div class="modal-footer">
                         <button type="button" ng-click="close(true)" class="btn btn-primary btn_blue" data-dismiss="modal">Yes</button>
                          <button type="button" ng-click="close(false)" class="btn btn-default cancel_btn" data-dismiss="modal">No</button>
					  </div>
                  </div>
              </div>
          </div>
      </script>