
<div class="form-horizontal">
  
   
    <div class="row">
        <div class="col-lg-6 col-sm-6">
            <a class="btn btn-default back_btn" ng-click="goToWorkItemIndex()">
              &nbsp;Back
            </a>
        </div>
          <div class="col">
          </div>
        <div class="col-lg-1 mesg_icon">
            <span class="btn btn-default pull-right" title="View message" ng-click="toggle()"  ng-show="!isClient">
                <i class="i_mesg" aria-hidden="true"></i>
           </span>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">{{workItemId? 'Work Item Detail' : 'Add Work Item'}}</h2>
        </div>
    </div>

    <div >
        <div class="row" ng-show="creatingNew">
            <div class="col-lg-12">
                <div ng-hide="shouldHideOption(0)">
                    <label>
                        <input type="radio" ng-model="userProfile.tradeType" value="0">
                        Electrician
                    </label><br />
                </div>

                <div ng-hide="shouldHideOption(1)">
                    <label>
                        <input type="radio" ng-model="userProfile.tradeType" value="1">
                        Handyman
                    </label><br />
                </div>

                <div ng-hide="shouldHideOption(2)">
                    <label>
                        <input type="radio" ng-model="userProfile.tradeType" value="2">
                        Plumber
                    </label><br />
                </div>

                <div ng-hide="shouldHideOption(3)">
                    <label>
                        <input type="radio" ng-model="userProfile.tradeType" value="3">
                        Builder
                    </label><br />
                </div>

                <div ng-hide="shouldHideOption(4)">
                    <label>
                        <input type="radio" ng-model="userProfile.tradeType" value="4">
                        Air Conditioning
                    </label><br />
                </div>
            </div>
        <span>Please select from work item template below.</span>
        <table class="table table-hover">
            <thead>
                <tr>

                    <th>Work template Item Name</th>
                    <!--<th>Description</th>-->
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="templateItem in templates | filter:search">
                    <td>
                        <a>{{templateItem.name}}</a>
                    </td>
                    <!--<td class="work-item-textarea">
                       <textarea disabled> {{templateItem.description}}</textarea>
                    </td>-->

                    <td class="">
                        <a class="btn btn-white btn-sm" title="Add a work item from this template"
                           ng-click="cloneTemplate(templateItem)"><i class="fa fa-copy"></i></a>
                    </td>

                </tr>
            </tbody>
        </table>
    </div>

    <hr>

    <div class="row">
        <div class="col-lg-12">

            <form name="workItemForm" class="form-horizontal">
                <fieldset ng-disabled="readOnly || (workItem && !workItem.workItemTemplateId)">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Work Item Name</label>
                        <div class="col-sm-9">
                            <input type="text" name="WorkItemName" class="form-control" placeholder="--workItem name--" ng-model="workItem.name" required>
                            <div ng-messages="workItemForm.WorkItemName.$error">
                                <div class="text-danger" ng-message="required">This field is required</div>
                            </div>

                        </div>

                    </div>



                    <div class="form-group">
                        <label class="col-sm-3 control-label">Description</label>
                        <div class="col-sm-9">
                            <textarea type="text" name="workItemDescription" class="form-control work-item-textarea" placeholder="--description--" ng-model="workItem.description"></textarea>
                            <div ng-messages="workItemForm.workItemDescription.$error">
                                <div class="text-danger" ng-message="required">This field is required</div>
                            </div>
                        </div>

                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Quantity</label>
                        <div class="col-sm-9">
                            <input type="number" placeholder="--quantity--" class="form-control" name="workItemQuantity"
                                   ng-model="workItem.quantity" required>
                            <div ng-messages="workItemForm.workItemQuantity.$error">
                                <div class="text-danger" ng-message="required">This field is required</div>
                                <div class="text-danger" ng-message="number">You did not enter a valid number</div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Status</label>
                        <div class="col-sm-9">
                            <div isteven-multi-select
                                 input-model="workItemStatusList"
                                 output-model="outputWorkItemStatus"
                                 button-label="icon name"
                                 item-label="icon name"
                                 tick-property="ticked"
                                 helper-elements=""
                                 is-disabled="readOnly"
                                 selection-mode="single">
                            </div>
                        </div>
                            

                        </div>




                </fieldset>
            </form>
            <div class="" ng-hide="readOnly">

                <button class="btn btn_blue" type="button" ng-click="save()" ng-disabled="workItemForm.$invalid || (workItem && !workItem.workItemTemplateId)">Save</button>
                <button class="btn cancel_btn" type="button" ng-click="goToWorkItemIndex()">Cancel</button>
            </div>

        </div>
    </div>
   </div>


<message-panel property-id="{{propertyId}}"></message-panel>