
<form class="form-horizontal">
    <div class="row">
        <div class="col-lg-12 col-sm-12">
            <a class="btn btn-default" ng-click="goBack()">
                <i class="fa fa-chevron-circle-left" aria-hidden="true"></i> &nbsp;Go back
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header"> Property companies</h2>
        </div>
    </div>
    <!--<div class="row" ng-show="clientId">
        <div class="col-lg-12 col-sm-12 ">
            <div class="well">
                Client: {{clientName}} 
            </div>
        </div>
    </div>-->
    <div class="row">
        <div class="col-xs-6 col-md-9">
            <button type="button" title="Request new work for your property" 
                    class="btn btn-default btn-sm" >
                <i class="fa fa-plus "></i> Request Work
            </button>
        </div>
        <!--<div class="col-xs-6  col-md-3 pull-right">
            <input type="text" placeholder="Search properties..." class="input-sm form-control" ng-model="filterTextModel.searchText">
        </div>-->
    </div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>

            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="company in companies ">
             
                <td class="col-md-6 col-xs-2">
                    {{company.companyName}}
                </td>
                <td class="col-md-6 col-xs-4">
                   {{company.description}}

                </td>
                <td class="col-md-1 col-xs-2">
                    <button class="btn btn-default btn-sm" value="View work items" title="View Company" type="button" ng-click="">View work items</button>
                </td>
              
                

            </tr>
        </tbody>
    </table>


</form>


<!-- The actual modal template, just a bit o bootstrap -->
<script type="text/ng-template" id="deletePropertymodal.html">
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" ng-click="close(false)" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title danger">Delete Property</h4>
                </div>
                <div class="modal-body">
                    <p>This will also remove all the related sections. Proceed?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" ng-click="close(false)" class="btn btn-default" data-dismiss="modal">No</button>
                    <button type="button" ng-click="close(true)" class="btn btn-primary" data-dismiss="modal">Yes</button>
                </div>
            </div>
        </div>
    </div>
</script>