<form>
  <!--<div class="row">
        <div class="col-lg-12 col-sm-12">
            <a class="btn btn-default" ng-click="goBack()">
                <i class="fa fa-chevron-circle-left" aria-hidden="true"></i> &nbsp;Navigate to Clients
            </a>
        </div>
    </div>-->
  <div class="row">
    <div class="col-lg-6">
      <h2 class="page-header"> Properties</h2>
    </div>
    <div class="col">
      <div class="searchbar">
        <input type="text" placeholder="Search properties..." ng-model="filterTextModel.searchText">
      </div>
    </div>
  </div>
  <div class="row pb-2" ng-show="clientId">
    <div class="col-lg-12 col-sm-12 ">
      <div class="well"> Client: {{clientName}} </div>
    </div>
  </div>
  <div class="row pb-4">
    <div class="col-xs-6 col-md-9 pb-2"> <span title="Add new property" ng-show="clientId && !isClient" class="btn btn-default btn-sm" ng-click="addNewProperty()"> <span class='clickable'> <i class="fa fa-plus-circle fa-2x"></i> </span> </span> </div>
  </div>
  <div class="row"  ng-repeat="property in propertyList | filter:search"> 
    <!--  common dynamic list end from here -->
    <div class="col-lg-12 list_view properties">
      <div class="list_in">
        <div class="rt_icon rt_abbslt">
          <div class="icon_fltr"> <a class="edit_icon" title="Edit Property" ng-show="!isClient"  ng-click="openPropertyDetail(property,false)"></a> <a class="delete_icon" title="Delete Property" ng-show="!isClient"  ng-click="deleteProperty(property)"> </a> </div>
        </div>
        <div class="lv_common">
          <div class="lv1" ng-click="openPropertyDetail(property, true)">
            <h2 class="hd_lv"> {{property.name}} </h2>
          </div>
        </div>
        <div class="lv_common">
          <div class="lv2 pl-3">
            <div class="notification" ng-show="!isClient && !isContractor"  title="View Reports" 
                        ng-click="viewPropertyReports(property)">
              <div class="notif_ic"> <span class="msg_icon"> <img src="content/images/pdf.svg"> </span> </div>
              <a class="txt_noti"> Reports</a> </div>
            <div class="notification pl-3" title="Manage Sections"  ng-click="viewPropertySections(property)">
              <div class="notif_ic"> <span class="msg_icon"> <img src="content/images/sections.svg"> </span> </div>
              <a class="txt_noti"> Sections </a> </div>
            <div class="notification pl-3" title="Manage Attachments" ng-show="!isClient" ng-click="viewPropertyAttachments(property)">
              <div class="notif_ic"> <span class="msg_icon"> <i class="fa fa-paperclip"></i> </span> </div>
              <a class="txt_noti"> Attachments </a> </div>
          </div>
        </div>
        <div class="lv_common">
          <div class="lv1"> <span class="lt_DS"> Condition: </span> </div>
          <div class="lv2">
            <p class="rt_PH"> {{property.condition}} </p>
          </div>
        </div>
        <div class="lv_common">
          <div class="lv1"> <span class="lt_DS"> Description: </span> </div>
          <div class="lv2">
            <p class="rt_PH"> {{property.description}} </p>
          </div>
        </div>
        <div class="lv_common">
          <div class="lv1"> <span class="lt_DS"> Address: </span> </div>
          <div class="lv2">
            <p class="rt_PH"> {{property.addressDisplay}} <a class="g_map"> <img src="content/images/google map.svg"> </a> </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>

<!-- The actual modal template, just a bit o bootstrap --> 
<script type="text/ng-template" id="deletePropertymodal.html">
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" ng-click="close(false)" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title danger">Delete Property</h4>
                </div>
                <div class="modal-body">
                    <p>This will also remove all the related sections. Proceed?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" ng-click="close(false)" class="btn btn-default" data-dismiss="modal">No</button>
                    <button type="button" ng-click="close(true)" class="btn btn-primary" data-dismiss="modal">Yes</button>
                </div>
            </div>
        </div>
    </div>
</script>
<div ng-include src="'views/properties/propertyReport.html'"></div>
