
<form class="form-horizontal">
    <!--<div class="row">
        <div class="col-lg-12 col-sm-12">
            <a class="btn btn-default" ng-click="goBack()">
                <i class="fa fa-chevron-circle-left" aria-hidden="true"></i> &nbsp;Navigate to Clients
            </a>
        </div>
    </div>-->
    <div class="row">
        <div class="col-lg-12" >
            <h2 class="page-header"> Properties</h2>
        </div>
    </div>
    <div class="row" ng-show="clientId">
        <div class="col-lg-12 col-sm-12 ">
            <div class="well">
                Client: {{clientName}} 
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 col-md-9">
            <button type="button" title="Add new property" ng-show="clientId"
                    class="btn btn-default btn-sm" ng-click="addNewProperty()">
                <i class="fa fa-plus "></i> Add Property
            </button>
        </div>
        <div class="col-xs-6  col-md-3 pull-right">
            <input type="text" placeholder="Search properties..." class="input-sm form-control" ng-model="filterTextModel.searchText">
        </div>
    </div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Address</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="property in propertyList | filter:search">
                <!--<td >
                    <i class="fa fa-home"></i>
                </td>-->
                <td class="col-md-3 col-xs-2" ng-click="openPropertyDetail(property, true)">
                    <a>{{property.name}}</a>
                    <br />
                    <small>{{property.condition}}</small>
                </td>
                <td class="col-md-4 col-xs-4">
                   {{property.address}}

                </td>
                <td class="col-md-1 col-xs-1">
                    <a class="" title="Manage Attachments" ng-click="viewPropertyAttachments(property)"><i class="fa fa-paperclip"></i></a>
                </td>
                <td class="col-md-1 col-xs-1">
                    <button class="btn btn-default btn-sm" value="Reports" title="View Reports" type="button" ng-click="viewPropertyReports(property)">Reports</button>
                </td>
                <td class="col-md-1 col-xs-2">
                    <button class="btn btn-default btn-sm" value="View Sections" title="Manage Sections" type="button" ng-click="viewPropertySections(property)">Sections</button>
                </td>
              
                <td class="col-md-1 col-xs-2">
                    <button class="btn btn-primary btn-sm" type="button" value="Edit" title="Edit Property" ng-click="openPropertyDetail(property,false)">Edit </button>
                </td>
                <td class="col-md-1 col-xs-2">
                    <button class="btn btn-danger btn-sm" value="Delete" title="Delete Property" type="button" ng-click="deleteProperty(property)">Delete</button>
                </td>

            </tr>
        </tbody>
    </table>


</form>


<!-- The actual modal template, just a bit o bootstrap -->
<script type="text/ng-template" id="deletePropertymodal.html">
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" ng-click="close(false)" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title danger">Delete Property</h4>
                </div>
                <div class="modal-body">
                    <p>This will also remove all the related sections. Proceed?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" ng-click="close(false)" class="btn btn-default" data-dismiss="modal">No</button>
                    <button type="button" ng-click="close(true)" class="btn btn-primary" data-dismiss="modal">Yes</button>
                </div>
            </div>
        </div>
    </div>
</script>

<div ng-include src="'views/properties/propertyReport.html'"></div>