<!-- The actual modal template, just a bit o bootstrap -->
<script type="text/ng-template" id="propertyReportsModal.html">
    <div class="modal fade">
            <div class="modal-dialog report_modal">
                <div class="modal-content">
                    <div class="modal-header">
        
                        <button type="button" class="close" ng-click="close(false)" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <div class="rm_modal">
                            <div class="col-6">
                                <h4 class="modal-title danger">Property Report</h4>
                            </div>
                            <div class="col-6 downld_btn">
                                <!-- <button type="button" class="btn btn_blue" onclick="return xepOnline.Formatter.Format('toPrint',{pageWidth:'216mm', pageHeight:'279mm',render:'download'});">
                                    Save as PDF
                                </button> -->
                                <button type="button" class="btn btn_blue" ng-click="printLocal()">
                                    Save as PDF
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="modal-body">
                        <div class="container" id="toPrint">
                            <div class="row" id="report-header">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-4 report_heading">
                                            <p> Scope of Work </p>
                                        </div>
                                        <div class="col-8"></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-4 report_heading">
                                            <p> Provided by: </p>
                                        </div>
                                        <div class="col-8">
                                            <div class="provd_by">
                                                <img ng-src="{{companyInfo.companyLogoUrl}}" alt="CompanyLogo" height="200"
                                                    width="200" />
                                            </div>
                                            <h3>{{companyInfo.companyName}} </h3>
                                            <p>ABN: {{companyInfo.abn}} </p>
                                            <p> {{companyInfo.description}} </p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-4 report_heading">
                                            <p> Address </p>
                                        </div>
                                        <div class="col-8">
                                            <p> {{companyInfo.address}} </p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-4 report_heading">
                                            <p> Website </p>
                                        </div>
                                        <div class="col-8">
                                            <p> {{companyInfo.website}} </p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-4 report_heading">
                                            <p> Property Address </p>
                                        </div>
                                        <div class="col-8">
                                            <p> {{propertyInfo.addressDisplay}} </p>
                                            <div class="propty_logo">
                                                <img ng-src="{{propertyInfo.propertyLogoUrl}}" alt="Property Image" height="auto"
                                                    width="auto" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" id="report-menu">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-12 scope_heading">
                                            SCOPE SUMMARY
                                        </div>
                                    </div>
                                    <div class="row lt_heading">
                                        <div class="col-4"> Section </div>
                                        <div class="col-4"> Task </div>
                                        <div class="col-4">Content </div>
                                    </div>
                                    <div class="row" ng-repeat="item in reportItemsFlatten">
                                        <div class="col-4">
                                            <p> {{item.sectionName}} </p>
                                        </div>
                                        <div class="col-4"> {{item.taskNumber}} </div>
                                        <div class="col-4">
                                            <div ng-bind-html="item.description | to_trusted"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" id="report-content">
                                <div class="container">
                                    <div class="row" ng-repeat="group in reportItems">
                                        <div class="container">
                                            <div class="row scope_heading">
                                                <h3>{{group.sectionName}}</h3>
                                            </div>
                                            <div class="row" ng-repeat="item in group.workItems">
                                                <div class="container">
                                                    <div class="row">
                                                        <div class="col-6">{{item.taskNumber}}) {{item.name}}</div>
                                                        <div class="col-6"> {{item.description}}</div>
                                                    </div>
                                                    <div class="row" ng-if="hasImage(item)">
                                                        <div class="container">
                                                            <div class="row" ng-if="hasImage(item,1) || hasImage(item,2)">
                                                                <div class="col-6" ng-if="hasImage(item,1)"><img ng-src="{{item.imageUrls[0]}}" height="300"
                                                                        width="300"></div>
                                                                <div class="col-6" ng-if="hasImage(item,2)"><img ng-src="{{item.imageUrls[1]}}" height="300"
                                                                        width="300"></div>
        
                                                            </div>
                                                            <div class="row"  ng-if="hasImage(item,3) || hasImage(item,4)">
                                                                <div class="col-6" ng-if="hasImage(item,3)"><img ng-src="{{item.imageUrls[2]}}" height="300"
                                                                        width="300"></div>
                                                                <div class="col-6" ng-if="hasImage(item,4)"><img ng-src="{{item.imageUrls[3]}}" height="300"
                                                                        width="300"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
        
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</script>